<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.tourbook.deviceDataReader">

      <device
            class="net.tourbook.device.polar.hrm.PolarPPDDataReader"
            extensionSortPriority="1"
            fileextension="ppd"
            id="net.tourbook.device.PolarPPDDataReader"
            name="Polar PPD (Polar Person Data)"
            />

      <device
            class="net.tourbook.device.polar.hrm.PolarPDDDataReader"
            extensionSortPriority="1"
            fileextension="pdd"
            id="net.tourbook.device.PolarPDDDataReader"
            name="Polar PDD (Polar Diary Data)"
            />

      <device
            class="net.tourbook.device.polar.hrm.PolarHRMDataReader"
            fileextension="hrm"
            id="net.tourbook.device.PolarHRMDataReader"
            name="Polar HRM (Heart Rate Monitor)"/>

   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="net.tourbook.preferences.PrefPageDataImport"
            class="net.tourbook.device.polar.hrm.PrefPagePolar"
            id="net.tourbook.device.polar.hrm.prefPagePolar"
            name="Polar">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.tourbook.device.polar.hrm.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
