<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.tourbook.deviceDataReader">

      <device
            class="net.tourbook.device.polar.hrm.PolarHRMDataReader"
            fileextension="hrm"
            id="net.tourbook.device.PolarHRMDataReader"
            name="Polar HRM (Heart Rate Monitor)"/>

      <device
            class="net.tourbook.device.polar.hrm.PolarPDDDataReader"
            fileextension="pdd"
            id="net.tourbook.device.PolarPDDDataReader"
            name="Polar PDD (Polar Diary Data)"/>

   </extension>

</plugin>
