<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.tourbook.deviceDataReader">
      <device
            class="net.tourbook.device.nmea.NmeaDataReader"
            fileextension="txt"
            id="net.tourbook.device.nmea"
            name="NMEA"/>
   </extension>

</plugin>
