
/*
*/
@import url(../../dojo/resources/dojo.css);
@import url(../../dijit/themes/claro/claro.css);
@import url(../../dgrid/css/dgrid.css);
@import url(../../dgrid/css/skins/claro.css);

html, body 
{
    height:					100%;
}

body 
{
	font-family: 			verdana, helvetica, arial, sans-serif;
	font-family:			sans-serif;
    font-size:				13px;
}



#domLoading 
{
	position:				absolute;
	z-index:				1001;
	top:					0;
	left:					0;
	width:					100%;
	height:					100%;
	background-color:		#fff;
	
	/* this is the trick to align vertically in the middle */
	display:				table;		
}

#domLoading div
{
	display:				table-cell; /* see above */
	vertical-align: 		middle;
	text-align: 			center;
}


#domContainer 
{
    height:					100%;
}


/*
	Search field
*/
#domSearchInputContainer
{
	padding:				0px;	
	background-color:		#f0f0f0;
}

#domSearchInputContainer div			/* search input field */
{
	border:					0px;	
	width:					95%;
	margin-left:			0.2em;
	background-color:		#f0f0f0;
}


/*
	Grid
*/
#domGrid 
{
    position: 				absolute;
    top: 					0;
    bottom: 				0;
    left: 					0;
    right: 					0;
    height: 				auto;
    	
    border:					0px;
}
	
#domGrid div:focus 
{ 
	xoutline: 				none; 
	outline-width:			1px;		/* 1px is default */
}

	
	
/*









	OLD	OLD	OLD	OLD	OLD	OLD	OLD	OLD	OLD	OLD	OLD	OLD	OLD	OLD	OLD	OLD	OLD	OLD	OLD	OLD	OLD	OLD	OLD	OLD	OLD	OLD	OLD











*/

table
{
	border-collapse:		collapse;
	
	xborder:				1px solid; /* debug table */
}

/*
body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input 
{
	font-family: 			verdana, helvetica, arial, sans-serif;
}
*/

a /* an <a> covers the whole item */
{
	text-decoration:		none;
	color:					#444;
}


/*
	Item container
*/

.item-container 
{
	clear: 					both;		/* start new item */
	padding:				2px 0 2px 0;
	xmargin-bottom:			1px;
}

/* show hidden actions when search item is hovered */
.item-container:HOVER .action-container
{												
	opacity:				1.0;
	filter: 				alpha(opacity=100); 	/* IE needs this even in html standard mode*/
}

.item-container .action-container a:HOVER 
{ 
	border: 				1px solid #aaa;
	border-radius:			3px;
}

/*
	Actions
*/
.action-container 
{
	opacity:				0;
	filter: 				alpha(opacity=0);

	xbackground-color: 		#0ff;
	position:				absolute;
	right:					2px;					
	z-index:				10;
	xpadding:				0 1px 0px 0px;
}

a.action:LINK,
a.action:VISITED 
{
	display:				block;
	width: 					20px; 
	height: 				20px; 

	text-decoration:		none;
	
	background-repeat:		no-repeat;
	background-position:	center;

	border-radius:			3px;
	border:					1px solid rgba(0, 0, 0, 0.0);	/* hide border with transparent color */

	cursor: 				pointer; 
}

/*
	Result state
*/
.result-state
{
	padding-top:			20px;
}

/*
	Item
*/
.item-image 
{
	vertical-align:			top;
	padding-left:			5px;
	padding-right:			10px;
}

a.item:LINK,
a.item:VISITED 
{
	/* enforce width to the right border */
	display:				block;
	width:					auto;					

	text-decoration:		none;
}

.item-title
{
	text-decoration: 		underline;
}

.item-title-no-description
{
	/* hide underline when only the title is available but not a description */
	text-decoration: 		none;
}

.item-info
{
	font-size:				80%;
	color:					#888;
}

.item-info td
{
	padding-right:			20px;
}

	
	
	
	
	
	
	
