<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="statisticYear" name="Year Statistic" schema="schema/statisticYear.exsd"/>
   <extension-point id="deviceDataReader" name="Device Data Reader" schema="schema/deviceDataReader.exsd"/>
   <extension-point id="externalDeviceDataReader" name="External Device Data Reader" schema="schema/externalDeviceDataReader.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
         
      <application>
         <run
               class="net.tourbook.application.Application">
         </run>
      </application>
      
   </extension>
   
  
   
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
         
      <product
            application="net.tourbook.application"
            name="MyTourbook Testversion">
            
         <property
               name="windowImages"
               value="icons/application/tourbook16.gif,icons/application/tourbook32.gif,icons/application/tourbook48.gif,icons/application/tourbook64.gif,icons/application/tourbook128.gif"/>
         <property
               name="aboutText"
               value="%Product_about"/>
         <property
               name="aboutImage"
               value="icons/application/tourbook-about-250.gif"/>
         <property
               name="appName"
               value="MyTourbook Testversion">
         </property>
         <property
               name="startupForegroundColor"
               value="BBCBFF">
         </property>
         <property
               name="startupMessageRect"
               value="5,116,390,15">
         </property>
         <property
               name="startupProgressRect"
               value="5,131,390,10">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
      
   </extension>
   
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="net.tourbook.preferences.PreferenceInitializer"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="net.tourbook.application.MyTourbookSplashHandler"
            id="net.tourbook.splashHandler">
      </splashHandler>
      <splashHandlerProductBinding
            productId="net.tourbook.product"
            splashId="net.tourbook.splashHandler">
      </splashHandlerProductBinding>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.tourbook.preferences.PrefPageGeneral"
            id="net.tourbook.preferences.PrefPageGeneral"
            name="%preference_page_general">
      </page>
      <page
            class="net.tourbook.preferences.PrefPageDataImport"
            id="net.tourbook.preferences.PrefPageDataImport"
            name="%preference_page_data_import">
      </page>
      <page
            class="net.tourbook.preferences.PrefPageBikes"
            id="net.tourbook.preferences.PrefPageBikes"
            name="%preference_page_Bikes"/>
      <page
            class="net.tourbook.preferences.PrefPagePeople"
            id="net.tourbook.preferences.PrefPageClients"
            name="%preference_page_People"/>

      <page
            class="net.tourbook.preferences.PrefPageStatistic"
            id="net.tourbook.preferences.prefPageStatistic"
            name="%preference_page_statistics"/>

      <page
            category="net.tourbook.preferences.prefPageStatistic"
            class="net.tourbook.preferences.PrefPageStatisticTourFrequency"
            id="net.tourbook.preferences.prefPageStatisticTourFrequency"
            name="%preference_page_statistics_tourFrequency"/>

      <page
            class="net.tourbook.preferences.PrefPageTourChart"
            id="net.tourbook.preferences.PrefPageChartGraphs"
            name="%preference_page_Graphs"/>
            
      <page
            class="net.tourbook.preferences.PrefPageTourEditor"
            id="net.tourbook.preferences.PrefPageTourEditor"
            name="%preference_page_tourEditor"/>

      <page
            class="net.tourbook.preferences.PrefPageTourTypeFilterList"
            id="net.tourbook.preferences.PrefPageTourTypeFilter"
            name="%preference_page_tour_type_root"/>
      <page
            category="net.tourbook.preferences.PrefPageTourTypeFilter"
            class="net.tourbook.preferences.PrefPageTourTypes"
            id="net.tourbook.preferences.PrefPageTourTypeDefinition"
            name="%preference_page_tour_types"/>

      <page
            class="net.tourbook.preferences.PrefPageTags"
            id="net.tourbook.preferences.PrefPageTags"
            name="%preference_page_tags"/>
            
      <page
            class="net.tourbook.preferences.PrefPageAppearance"
            id="net.tourbook.preferences.PrefPageAppearance"
            name="%preference_page_appearance">
      </page>
      
      <page
            category="net.tourbook.preferences.PrefPageAppearance"
            class="net.tourbook.preferences.PrefPageGraphColors"
            id="net.tourbook.preferences.PrefPageChartColors"
            name="%preference_page_Chart_Colors">
      </page>
      
      <page
            category="net.tourbook.preferences.PrefPageAppearance"
            class="net.tourbook.preferences.PrefPageViewColors"
            id="net.tourbook.preferences.PrefPageViewColors"
            name="%preference_page_view_colors">
      </page>
      
      <page
            category="net.tourbook.preferences.PrefPageAppearance"
            class="net.tourbook.preferences.PrefPageMapAppearance"
            id="net.tourbook.preferences.PrefPageMapAppearance"
            name="%preference_page_map_appearance">
      </page>
      
   </extension>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Update Management"
            visible="true"
            id="net.tourbook.update.actionSet">
         <action
               class="net.tourbook.update.InstallWizardAction"
               definitionId="org.eclipse.ui.update.findAndInstallUpdates"
               id="net.tourbook.update.action_update"
               label="%action_software_updates"
               menubarPath="file/update">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.tourbook.category.tourList"
            name="%view_category_tourDirectory">
      </category>
      <view
            category="net.tourbook.category.tourList"
            class="net.tourbook.ui.views.rawData.RawDataView"
            icon="icons/rawdata.gif"
            id="net.tourbook.views.rawData.RawDataView"
            name="%view_name_Data_Import">
      </view>
      <view
            category="net.tourbook.category.tourList"
            class="net.tourbook.ui.views.tourBook.TourBookView"
            icon="icons/tour-list.gif"
            id="net.tourbook.views.tourListView"
            name="%view_name_Book"/>
      <view
            category="net.tourbook.category.tourList"
            class="net.tourbook.ui.views.tagging.TaggingView"
            icon="icons/tour-tag.gif"
            id="net.tourbook.views.tagViewID"
            name="%view_name_tagView"/>
      <view
            category="net.tourbook.category.tourList"
            class="net.tourbook.ui.views.tourCatalog.TourCatalogView"
            icon="icons/tour-map.gif"
            id="net.tourbook.views.tourCatalog.TourCatalogView"
            name="%view_name_tourCatalog"/>
      <view
            category="net.tourbook.category.tourList"
            class="net.tourbook.ui.views.TourStatisticsView"
            icon="icons/statistics.gif"
            id="net.tourbook.views.StatisticView"
            name="%view_name_Statistics">
      </view>
      <category
            id="net.tourbook.category.tour"
            name="%view_category_tour">
      </category>
      <view
            category="net.tourbook.category.tour"
            class="net.tourbook.ui.tourChart.TourChartView"
            icon="icons/tour-chart.gif"
            id="net.tourbook.views.TourChartView"
            name="%view_name_Chart">
      </view>
      <view
            category="net.tourbook.category.tour"
            class="net.tourbook.mapping.TourMapView"
            icon="icons/earth-globe-abstract.png"
            id="net.tourbook.mapping.mappingViewID"
            name="%view_name_tour_map">
      </view>
      <view
            category="net.tourbook.category.tour"
            class="net.tourbook.ui.views.tourDataEditor.TourDataEditorView"
            icon="icons/tour-editor.gif"
            id="net.tourbook.views.TourDataEditorView"
            name="%command_view_tourEditor">
      </view>
      <view
            category="net.tourbook.category.tour"
            class="net.tourbook.ui.views.TourMarkerView"
            icon="icons/tour-marker.png"
            id="net.tourbook.views.TourMarkerView"
            name="%view_name_Marker"/>
     <view
           category="net.tourbook.category.tour"
           class="net.tourbook.ui.views.TourChartAnalyzerView"
           icon="icons/chart-analyzer.gif"
           id="net.tourbook.views.TourChartAnalyzer"
           name="%view_name_Analyzer"/>
      <view
            category="net.tourbook.category.tour"
            class="net.tourbook.ui.views.TourSegmenterView"
            icon="icons/tour-segmenter.gif"
            id="net.tourbook.views.TourSegmenter"
            name="%view_name_Segmenter"/>
      <category
            id="net.tourbook.category.compareTours"
            name="%view_category_compare_tours">
      </category>
      <view
            category="net.tourbook.category.compareTours"
            class="net.tourbook.ui.views.tourCatalog.TourCompareResultView"
            icon="icons/tour-map-compare-result.gif"
            id="net.tourbook.views.tourCatalog.CompareResultView"
            name="%view_name_Compare_Result"/>
      <view
            category="net.tourbook.category.compareTours"
            class="net.tourbook.ui.views.tourCatalog.TourCatalogViewReferenceTour"
            icon="icons/tour-map-reftour.png"
            id="net.tourbook.views.tourCatalog.referenceTourView"
            name="%view_name_tourCatalog_referenceTour">
      </view>
      <view
            category="net.tourbook.category.compareTours"
            class="net.tourbook.ui.views.tourCatalog.TourCatalogViewComparedTour"
            icon="icons/tour-map-comparetour.gif"
            id="net.tourbook.views.tourCatalog.comparedTourView"
            name="%view_name_tourCatalog_comparedTour">
      </view>
      <view
            category="net.tourbook.category.compareTours"
            class="net.tourbook.ui.views.tourCatalog.TourCatalogViewYearStatistic"
            icon="icons/tour-map-statistic.gif"
            id="net.tourbook.views.tourCatalog.yearStatisticView"
            name="%view_name_tourCatalog_statistics">
      </view>
      <category
            id="net.tourbook.category.system"
            name="%view_category_system">
      </category>
        <view
            name="Progress View"
            id="org.eclipse.ui.views.ProgressView"
            icon="icons/pview.gif"
            category="net.tourbook.category.system"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            >
         </view>
		<view
                      name="%view_name_ChartProperty"
                      id="net.tourbook.views.TourChartPropertyView"
                      category="net.tourbook.category.system"
                      class="net.tourbook.ui.tourChart.TourChartPropertyView"
                      icon="icons/tourchart-properties.gif"
                      >
        </view>
        
      <view
            category="net.tourbook.category.system"
            class="net.tourbook.mapping.TourMapPropertyView"
            icon="icons/tour-map-properties.png"
            id="net.tourbook.mapping.TourMapPropertyView"
            name="%view_name_map_properties">
      </view>
      
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.tourbook.application.PerspectiveFactoryRawData"
            icon="icons/rawdata-perspective.gif"
            id="net.tourbook.perspective.RawData"
            name="%perspective_name_RawData">
      </perspective>
      <perspective
            class="net.tourbook.application.PerspectiveFactoryTourBook"
            icon="icons/tour-list-perspective.gif"
            id="net.tourbook.perspective.TourBook"
            name="%perspective_name_TourBook">
      </perspective>
      <perspective
            class="net.tourbook.application.PerspectiveFactoryTourCatalog"
            icon="icons/tour-map-perspective.gif"
            id="net.tourbook.perspective.TourCatalog"
            name="%perspective_name_tourCatalog">
      </perspective>
      <perspective
            class="net.tourbook.application.PerspectiveFactoryStatistic"
            icon="icons/statistics-perspective.gif"
            id="net.tourbook.perspective.Statistic"
            name="%perspective_name_Statistics">
      </perspective>
      <perspective
            class="net.tourbook.application.PerspectiveFactoryCompareTours"
            icon="icons/tour-map-compare-result-perspective.gif"
            id="net.tourbook.perspective.CompareTours"
            name="%perspective_name_CompareTours">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <perspectiveShortcut
               id="net.tourbook.perspective.TourBook">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="net.tourbook.perspective.TourCatalog">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="net.tourbook.perspective.Statistic">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="net.tourbook.perspective.RawData">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="net.tourbook.perspective.CompareTours">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="net.tourbook.perspective.RawData">
         <viewShortcut
               id="net.tourbook.views.rawData.RawDataView">
         </viewShortcut>
         <viewShortcut
               id="net.tourbook.views.TourMarkerView">
         </viewShortcut>
         <viewShortcut
               id="net.tourbook.views.tagViewID">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="net.tourbook.perspective.TourBook">
         <viewShortcut
               id="net.tourbook.views.tourListView">
         </viewShortcut>
         <viewShortcut
               id="net.tourbook.views.TourMarkerView">
         </viewShortcut>
         <viewShortcut
               id="net.tourbook.views.tagViewID">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="net.tourbook.perspective.TourCatalog">
         <viewShortcut
               id="net.tourbook.views.tourCatalog.TourCatalogView">
         </viewShortcut>
         <viewShortcut
               id="net.tourbook.views.tagViewID">
         </viewShortcut>
         <viewShortcut
               id="net.tourbook.views.tourCatalog.comparedTourView">
         </viewShortcut>
         <viewShortcut
               id="net.tourbook.views.tourCatalog.referenceTourView">
         </viewShortcut>
         <viewShortcut
               id="net.tourbook.views.tourCatalog.yearStatisticView">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="net.tourbook.perspective.Statistic">
         <viewShortcut
               id="net.tourbook.views.StatisticView">
         </viewShortcut>
         <viewShortcut
               id="net.tourbook.views.TourMarkerView">
         </viewShortcut>
         <viewShortcut
               id="net.tourbook.views.tagViewID">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="net.tourbook.perspective.CompareTours">
         <viewShortcut
               id="net.tourbook.views.tourCatalog.CompareResultView">
         </viewShortcut>
         <viewShortcut
               id="net.tourbook.views.tourCatalog.referenceTourView">
         </viewShortcut>
         <viewShortcut
               id="net.tourbook.views.tourCatalog.comparedTourView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.tourbook.tour.TourEditor"
            icon="icons/tour-viewer.png" 
            id="net.tourbook.tour.TourEditor"
            name="%command_view_tourViewer">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="net.tourbook.tour.TourEditorInputFactory"
            id="net.tourbook.tour.TourEditorInputFactory">
      </factory>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">

      <menuContribution
            locationURI="menu:file?after=fileNew">
         <command
               commandId="net.tourbook.command.device.synchronize.direct"
               icon="icons/device-synchronize-direct.gif"
               label="%command_device_synchronize_direct"
               mnemonic="%command_device_synchronize_direct_mnemonic"
               style="push"
               tooltip="%command_device_synchronize_direct_tooltip">
         </command>
         <command
               commandId="net.tourbook.command.device.synchronize"
               icon="icons/device-synchronize.gif"
               label="%command_device_synchronize_configured"
               mnemonic="%command_device_synchronize_configured_mnemonic"
               style="push"
               tooltip="%command_device_synchronize_configured_tooltip">
         </command>
         <command
               commandId="net.tourbook.command.device.importFromFile"
               icon="icons/folder_open_add.gif"
               label="%command_device_importFromFile">
         </command>
         <separator
               name="net.tourbook.separator"
               visible="true">
         </separator>
      </menuContribution>

      <menuContribution
            locationURI="menu:views?before=defaultViews">
         <command
               commandId="net.tourbook.command.selectedTour"
               icon="icons/tour-chart.gif"
               label="%command_view_selectedTour"
               mnemonic="%command_view_selectedTour_mnemonic"
               tooltip="%command_view_selectedTour_tooltip">
         </command>
         <command
               commandId="net.tourbook.command.tourDataEditor"
               icon="icons/tour-editor.gif"
               label="%command_view_tourEditor"
               mnemonic="%command_view_tourEditor_mnemonic"
               tooltip="%command_view_tourEditor_tooltip">
         </command>
         <command
               commandId="net.tourbook.mapping.command.tourMap"
               icon="icons/earth-globe-abstract.png"
               label="%command_tour_map_name"
               tooltip="%command_tour_map_name_tooltip">
         </command>
         <command
               commandId="net.tourbook.mapping.command.taggingView"
               icon="icons/tour-tag.gif"
               label="%command_tagging_name"
               tooltip="%command_tagging_name_tooltip">
         </command>
         <command
               commandId="net.tourbook.command.tourChart.tool.graphAnalyzer"
               icon="icons/chart-analyzer.gif"
               label="%command_tourChart_tool_graphAnalyzer"
               mnemonic="%command_tourChart_tool_graphAnalyzer_mnemonic"
               style="push"
               tooltip="%command_tourChart_tool_graphAnalyzer_tooltip">
         </command>
      </menuContribution>
      
      <menuContribution
            locationURI="menu:net.tourbook.menu.main.tools?after=tools">

         <command
               commandId="net.tourbook.command.tourChart.tool.tourSegmenter"
               icon="icons/tour-segmenter.gif"
               label="%command_tourChart_tool_tourSegmenter"
               mnemonic="%command_tourChart_tool_tourSegmenter_mnemonic"
               style="push"
               tooltip="%command_tourChart_tool_tourSegmenter_tooltip">
         </command>
         <command
               commandId="net.tourbook.command.tourCompareWizard"
               icon="icons/tour-map-compare-wizard.png"
               label="%command_tourCompare_wizard"
               mnemonic="%command_tourCompare_wizard_mnemonic">
         </command>
      
      </menuContribution>

      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
            
         <toolbar
               id="net.tourbook.toolbars.tourViews">
            
            <command
                  commandId="net.tourbook.command.selectedTour"
                  icon="icons/tour-chart.gif"
                  label="%command_view_selectedTour"
                  mnemonic="%command_view_selectedTour_mnemonic"
                  tooltip="%command_view_selectedTour_tooltip">
            </command>
            <command
                  commandId="net.tourbook.command.tourDataEditor"
                  icon="icons/tour-editor.gif"
                  label="%command_view_tourEditor"
                  mnemonic="%command_view_tourEditor_mnemonic"
                  tooltip="%command_view_tourEditor_tooltip">
            </command>
            <command
                  commandId="net.tourbook.mapping.command.tourMap"
                  icon="icons/earth-globe-abstract.png"
                  label="%command_tour_map_name"
                  tooltip="%command_tour_map_name_tooltip">
            </command>
            <command
                  commandId="net.tourbook.mapping.command.taggingView"
                  icon="icons/tour-tag.gif"
                  label="%command_tagging_name"
                  tooltip="%command_tagging_name_tooltip">
            </command>
            <command
                  commandId="net.tourbook.command.tourChart.tool.graphAnalyzer"
                  icon="icons/chart-analyzer.gif"
                  label="%command_tourChart_tool_graphAnalyzer"
                  mnemonic="%command_tourChart_tool_graphAnalyzer_mnemonic"
                  style="push"
                  tooltip="%command_tourChart_tool_graphAnalyzer_tooltip">
            </command>
            <separator
                  name="net.tourbook.separator"
                  visible="true">
            </separator>
            <command
                  commandId="net.tourbook.command.tourChart.tool.tourSegmenter"
                  icon="icons/tour-segmenter.gif"
                  label="%command_tourChart_tool_tourSegmenter"
                  mnemonic="%command_tourChart_tool_tourSegmenter_mnemonic"
                  style="push"
                  tooltip="%command_tourChart_tool_tourSegmenter_tooltip">
            </command>
            <command
                  commandId="net.tourbook.command.tourCompareWizard"
                  icon="icons/tour-map-compare-wizard.png"
                  label="%command_tourCompare_wizard"
                  mnemonic="%command_tourCompare_wizard_mnemonic"
                  style="push">
            </command>
            <command
                  commandId="net.tourbook.command.createNewTour"
                  icon="icons/tour-new.png"
                  label="%command_createNewTour"
                  mnemonic="%command_createNewTour_mnemonic"
                  style="push">
            </command>
         
         </toolbar>
      </menuContribution>

      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="net.tourbook.toolbars.rawdata">
            <command
                  commandId="net.tourbook.command.device.synchronize.direct"
                  icon="icons/device-synchronize-direct.gif"
                  label="%command_device_synchronize_direct"
                  mnemonic="%command_device_synchronize_direct_mnemonic"
                  style="push"
                  tooltip="%command_device_synchronize_direct_tooltip">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="net.tourbook.toolbars.general">
            <command
                  commandId="net.tourbook.command.preferences"
                  icon="icons/options.gif"
                  label="%command_general_preferences"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>

      <menuContribution
            locationURI="toolbar:net.tourbook.views.rawData.RawDataView?after=import">
         <command
               commandId="net.tourbook.command.device.synchronize.direct"
               icon="icons/device-synchronize-direct.gif"
               label="%command_device_synchronize_direct"
               mnemonic="%command_device_synchronize_direct_mnemonic"
               style="push"
               tooltip="%command_device_synchronize_direct_tooltip">
         </command>
         <command
               commandId="net.tourbook.command.device.synchronize"
               icon="icons/device-synchronize.gif"
               label="%command_device_synchronize_configured"
               mnemonic="%command_device_synchronize_configured_mnemonic"
               style="push"
               tooltip="%command_device_synchronize_configured_tooltip">
         </command>
         <command
               commandId="net.tourbook.command.device.importFromFile"
               icon="icons/open_folder_add.gif"
               label="%command_device_importFromFile">
         </command>
      </menuContribution>
      
      <menuContribution
            locationURI="toolbar:net.tourbook.toolbars.tourViews?after=additions">
      </menuContribution>
      
 
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="net.tourbook.command.graph.altitude"
            categoryId="net.tourbook.command.category.tourEditor"
            name="%command_graph_altitude">
      </command>
      <command
            categoryId="net.tourbook.command.category.tourEditor"
            id="net.tourbook.command.graph.pulse"
            name="%command_graph_pulse">
      </command>
      <command
            id="net.tourbook.command.graph.speed"
            categoryId="net.tourbook.command.category.tourEditor"
            name="%command_graph_speed">
      </command>
      <command
            id="net.tourbook.command.graph.pace"
            categoryId="net.tourbook.command.category.tourEditor"
            name="%command_graph_pace">
      </command>
      <command
            id="net.tourbook.command.graph.cadence"
            categoryId="net.tourbook.command.category.tourEditor"
            name="%command_graph_cadence">
      </command>
      <command
            id="net.tourbook.command.graph.power"
            categoryId="net.tourbook.command.category.tourEditor"
            name="%command_graph_power">
      </command>
      <command
            id="net.tourbook.command.graph.temperature"
            categoryId="net.tourbook.command.category.tourEditor"
            name="%command_graph_temperature">
      </command>
      <command
            id="net.tourbook.command.graph.gradient"
            categoryId="net.tourbook.command.category.tourEditor"
            name="%command_graph_gradient">
      </command>
      <command
            id="net.tourbook.command.graph.altimeter"
            categoryId="net.tourbook.command.category.tourEditor"
            name="%command_graph_altimeter">
      </command>
      <command
            id="net.tourbook.command.tourChart.xAxisDistance"
            categoryId="net.tourbook.command.category.tourEditor"
            name="%command_tourChart_xAxisDistance">
      </command>
      <command
            id="net.tourbook.command.openMarkerView"
            categoryId="net.tourbook.command.category.tourEditor"
            name="Open Markers">
      </command>
      <command
            id="net.tourbook.command.tourChart.xAxisTime"
            categoryId="net.tourbook.command.category.tourEditor"
            name="%command_tourChart_xAxisTime">
      </command>
      <category
            id="net.tourbook.command.category.tourEditor"
            name="Tour Editor">
      </category>
      <command
            id="net.tourbook.command.tourChart.tool.adjustAltitude"
            name="%command_tourChart_tool_adjustAltitude">
      </command>
      <command
            id="net.tourbook.command.tourChart.showStartTime"
            name="%command_tourChart_showStartTime">
      </command>
      <command
            id="net.tourbook.command.tourChart.canScrollChart"
            name="%command_tourChart_canScrollChart">
      </command>
      <command
            defaultHandler="net.tourbook.application.ActionHandlerPreferences"
            id="net.tourbook.command.preferences"
            name="%command_general_preferences">
      </command>
      <command
            defaultHandler="net.tourbook.ui.action.ActionHandlerViewSelectedTour"
            id="net.tourbook.command.selectedTour"
            name="%command_view_selectedTour">
      </command>
      <command
            defaultHandler="net.tourbook.importdata.ActionHandlerImportFromFile"
            id="net.tourbook.command.device.importFromFile"
            name="%command_device_importFromFile">
      </command>
      <command
            defaultHandler="net.tourbook.importdata.ActionHandlerImportFromDeviceDirect"
            id="net.tourbook.command.device.synchronize.direct"
            name="%command_device_synchronize_direct">
      </command>
      <command
            defaultHandler="net.tourbook.importdata.ActionHandlerImportFromDevice"
            id="net.tourbook.command.device.synchronize"
            name="%command_device_synchronize_configured">
      </command>
      <command
            id="net.tourbook.command.tourChart.options"
            name="%command_tourChart_options">
      </command>
      <command
            id="net.tourbook.command.tourChart.canAutoZoomToSlider"
            name="%command_tourChart_canAutoZoomToSlider">
      </command>

      <command
            id="net.tourbook.command.tourCompareWizard"
            name="%command_tourCompare_wizard">
      </command>
      <command
            defaultHandler="net.tourbook.ui.action.ActionHandlerViewGraphAnalyzer"
            id="net.tourbook.command.tourChart.tool.graphAnalyzer"
            name="%command_tourChart_tool_graphAnalyzer">
      </command>
         
      <command
            id="net.tourbook.command.tourChart.tool.tourSegmenter"
            defaultHandler="net.tourbook.ui.action.ActionHandlerViewTourSegmenter"
            name="%command_tourChart_tool_tourSegmenter">
      </command>
      
      
      <command
            defaultHandler="net.tourbook.ui.action.ActionHandlerTourDataEditor"
            id="net.tourbook.command.tourDataEditor"
            name="%command_view_tourEditor">
      </command>
      <command
            defaultHandler="net.tourbook.mapping.ActionHandlerOpenTourMapView"
            id="net.tourbook.mapping.command.tourMap"
            name="%command_tour_map_name">
      </command>
      <command
            defaultHandler="net.tourbook.ui.views.tagging.ActionHandlerOpenTaggingView"
            id="net.tourbook.mapping.command.taggingView"
            name="%command_tagging_name">
      </command>
      <command
            id="net.tourbook.command.createNewTour"
            name="%command_createNewTour_label">
      </command>
   </extension>
   
   <extension
         point="de.byteholder.geoclipse.mapOverlay">
      <painter class="net.tourbook.mapping.TourPainter"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">

      <handler
            class="net.tourbook.ui.views.tourCatalog.ActionHandlerTourCompareWizard"
            commandId="net.tourbook.command.tourCompareWizard">
      </handler>
   </extension>

   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="net.tourbook.chart.context.isTourChart"
            name="net.tourbook.chart.context.isTourChart">
      </context>
   </extension>

</plugin>
