<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="statisticYear" name="Year Statistic" schema="schema/statisticYear.exsd"/>
   <extension-point id="deviceDataReader" name="Device Data Reader" schema="schema/deviceDataReader.exsd"/>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.tourbook.application"
            name="MyToorbook">
         <property
               name="windowImages"
               value="icons/tourbook16.gif,icons/tourbook32.gif,icons/tourbook48.gif,icons/tourbook64.gif,icons/tourbook128.gif"/>
         <property
               name="aboutText"
               value="%Product_about"/>
         <property
               name="aboutImage"
               value="icons/tourbook-about-250.gif"/>
         <property
               name="appName"
               value="MyToorbook">
         </property>
         <property
               name="startupForegroundColor"
               value="BBCBFF">
         </property>
         <property
               name="startupMessageRect"
               value="5,116,390,15">
         </property>
         <property
               name="startupProgressRect"
               value="5,131,390,10">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

     <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.tourbook.application.Application">
         </run>
      </application>
   </extension>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Update Management"
            visible="true"
            id="net.tourbook.update.actionSet">
         <action
               class="net.tourbook.update.InstallWizardAction"
               definitionId="org.eclipse.ui.update.findAndInstallUpdates"
               id="net.tourbook.update.action_update"
               label="%Action_Software_Updates"
               menubarPath="file/update">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="net.tourbook.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.tourbook.preferences.PrefPageBikes"
            id="net.tourbook.preferences.PrefPageBikes"
            name="%Pref_Bikes"/>
      <page
            class="net.tourbook.preferences.PrefPagePeople"
            id="net.tourbook.preferences.PrefPageClients"
            name="%Pref_People"/>
      <page
            class="net.tourbook.preferences.PrefPageStatistic"
            id="net.tourbook.preferences.PrefPageStatistic"
            name="%Pref_Statistics"/>
      <page
            class="net.tourbook.preferences.PrefPageChartColors"
            id="net.tourbook.preferences.PrefPageChartColors"
            name="%Pref_Chart_Colors"/>
      <page
            class="net.tourbook.preferences.PrefPageChartGraphs"
            id="net.tourbook.preferences.PrefPageChartGraphs"
            name="%Pref_Graphs"/>
      <page
            class="net.tourbook.preferences.PrefPageTourTypes"
            id="net.tourbook.preferences.PrefPageTourTypes"
            name="%Pref_Tour_Types"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.tourbook.application.PerspectiveFactoryRawData"
            icon="icons/rawdata-perspective.gif"
            id="net.tourbook.perspectiveRawData"
            name="%Perspective_RawData">
      </perspective>
      <perspective
            class="net.tourbook.application.PerspectiveFactoryTourBook"
            icon="icons/tour-list-perspective.gif"
            id="net.tourbook.perspectiveTourBook"
            name="%Perspective_TourBook">
      </perspective>
      <perspective
            class="net.tourbook.application.PerspectiveFactoryTourMap"
            icon="icons/tour-map-perspective.gif"
            id="net.tourbook.perspectiveTourMap"
            name="%Perspective_TourMap">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
                <view
            name="Progress View"
            icon="icons/pview.gif"
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            id="org.eclipse.ui.views.ProgressView">
         </view>
      <view
            class="net.tourbook.ui.views.rawData.RawDataView"
            icon="icons/device.gif"
            id="net.tourbook.views.rawData.RawDataView"
            name="%View_Data_Import">
      </view>
     <view
            class="net.tourbook.ui.views.TourChartAnalyzerView"
            icon="icons/chart-analyzer.gif"
            id="net.tourbook.views.TourChartAnalyzer"
            name="%View_Tour_Analyzer"/>
      <view
            class="net.tourbook.ui.views.tourMap.TourMapView"
            icon="icons/tourfinder-reference.gif"
            id="net.tourbook.views.tourMap.TourMapView"
            name="%View_Tour_Map"/>
      <view
            class="net.tourbook.ui.views.tourMap.CompareResultView"
            icon="icons/tourfinder-compare.gif"
            id="net.tourbook.views.tourMap.CompareResultView"
            name="%View_Compare_Result"/>
      <view
            class="net.tourbook.ui.views.tourBook.TourBookView"
            icon="icons/tour-list.gif"
            id="net.tourbook.views.tourListView"
            name="%View_Tour_Book"/>
      <view
            class="net.tourbook.ui.views.TourMarkerView"
            icon="icons/marker-editor.gif"
            id="net.tourbook.views.TourMarkerView"
            name="%View_Marker"/>
      <view
            class="net.tourbook.ui.views.TourSegmenterView"
            icon="icons/tour-segmenter.gif"
            id="net.tourbook.views.TourSegmenter"
            name="%View_Tour_Segmenter"/>
      <view
            class="net.tourbook.ui.views.TourChartView"
            icon="icons/tour-chart.gif"
            id="net.tourbook.ui.views.TourChartView"
            name="%View_Tour_Chart">
      </view>
      <view
            class="net.tourbook.ui.views.TourStatisticsView"
            icon="icons/year-overview.gif"
            id="net.tourbook.views.tourStatisticeView"
            name="%View_Tour_Statistics">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="net.tourbook.application.MyTourbookSplashHandler"
            id="net.tourbook.splashHandler">
      </splashHandler>
      <splashHandlerProductBinding
            productId="net.tourbook.product"
            splashId="net.tourbook.splashHandler">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.tourbook.tour.TourEditor"
            icon="icons/tourfinder.gif"
            id="net.tourbook.tour.TourEditor"
            name="Tour Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="net.tourbook.tour.TourEditorInputFactory"
            id="net.tourbook.tour.TourEditorInputFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.tourbook.perspectiveRawData">
         <perspectiveShortcut
               id="net.tourbook.perspectiveTourBook">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="net.tourbook.perspectiveRawData">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="net.tourbook.perspectiveTourMap">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="net.tourbook.perspectiveTourBook">
         <perspectiveShortcut
               id="net.tourbook.perspectiveTourBook">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="net.tourbook.perspectiveRawData">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="net.tourbook.perspectiveTourMap">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="net.tourbook.perspectiveTourMap">
         <perspectiveShortcut
               id="net.tourbook.perspectiveTourBook">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="net.tourbook.perspectiveRawData">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="net.tourbook.perspectiveTourMap">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="net.tourbook.toolbars.graphs">
            <command
                  commandId="net.tourbook.commandId.graph.speed"
                  disabledIcon="icons/graph-speed-disabled.gif"
                  icon="icons/graph-speed.gif"
                  id="net.tourbook.toolbar.graph.speed"
                  label="Speed"
                  style="toggle"
                  tooltip="Show/Hide Speed">
            </command>
            <command
                  commandId="net.tourbook.commandId.graph.altitude"
                  disabledIcon="icons/graph-altitude-disabled.gif"
                  icon="icons/graph-altitude.gif"
                  id="net.tourbook.toolbar.graph.altitude"
                  label="Altitude"
                  style="toggle"
                  tooltip="Show/Hide Altitude">
            </command>
            <command
                  commandId="net.tourbook.commandId.graph.pulse"
                  disabledIcon="icons/graph-pulse-disabled.gif"
                  icon="icons/graph-pulse.gif"
                  id="net.tourbook.toolbar.graph.pulse"
                  label="Pulse"
                  style="toggle"
                  tooltip="Show/Hide Pulse">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="net.tourbook.menus.tourEditor"
               label="Tour Editor"
               mnemonic="E">
            <command
                  commandId="net.tourbook.commands.openMarkerView"
                  icon="icons/marker-editor.gif"
                  label="Open Markers"
                  mnemonic="M">
               <visibleWhen>
                  <reference
                        definitionId="net.tourbook.definition.activePartId_is_TourEditor">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="net.tourbook.toolbars.graphLayout">
            <command
                  commandId="net.tourbook.commandId.graph.altitude"
                  disabledIcon="icons/graph-altitude-disabled.gif"
                  icon="icons/graph-altitude.gif"
                  id="net.tourbook.toolbar.graph.altitude"
                  label="Altitude"
                  style="toggle"
                  tooltip="Show/Hide Altitude">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="net.tourbook.commands.category.tourEditor"
            name="Tour Editor">
      </category>
      <command
            id="net.tourbook.commands.openMarkerView"
            categoryId="net.tourbook.commands.category.tourEditor"
            name="Open Markers">
      </command>
      <command
            id="net.tourbook.commandId.graph.altitude"
            categoryId="net.tourbook.commands.category.tourEditor"
            name="Show/Hide Altitude">
      </command>
      <command
            id="net.tourbook.commandId.graph.speed"
            categoryId="net.tourbook.commands.category.tourEditor"
            name="Show/Hide Speed">
      </command>
      <command
            categoryId="net.tourbook.commands.category.tourEditor"
            id="net.tourbook.commandId.graph.pulse"
            name="Show/Hide Pulse">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.tourbook.tour.HandlerOpenMarkerView"
            commandId="net.tourbook.commands.openMarkerView">
      </handler>
      <handler
            class="net.tourbook.tour.HandlerGraphLayoutSpeed"
            commandId="net.tourbook.commands.graphLayout.speed">
         <activeWhen>
            <reference
                  definitionId="net.tourbook.definition.activePartId_contains_tourChart">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="net.tourbook.tour.HandlerGraphLayoutPulse"
            commandId="net.tourbook.commands.graphLayout.pulse">
         <activeWhen>
            <reference
                  definitionId="net.tourbook.definition.activeEditor">
            </reference></activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="net.tourbook.definition.activePartId_contains_tourChart">
         <with
               variable="activePartId">
            <or>
               <equals
                     value="net.tourbook.tour.xTourEditor">
               </equals>
               <equals
                     value="net.tourbook.ui.views.xTourChartView">
               </equals>
            </or>
         </with>
      </definition>
   </extension>

</plugin>
