
bin
dist/
target/
repositories/

**/node_modules/
**/tmp/
**/node_modules/

**/build/*repo/**/*.jar
**/build/*update-site/**/*.jar
**/build/**/build/sonar
**/*vtm*/**/build/

**/feature.net.tourbook.jre/*/jre

.apt_generated
.gradle
.log
.polyglot.build.properties
.vs

*.js.map
*.js.uncompressed.js

*.hprof

