
bin
dist/
target/
repositories/

**/node_modules/
**/tmp/
**/node_modules/

**/build/*repo/**/*.jar
**/build/*update-site/**/*.jar
**/build/**/build/sonar
**/*vtm*/**/build/


.apt_generated
.gradle
.log
.vs

*.js.map
*.js.uncompressed.js

*.hprof

