<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.tourbook.deviceDataReader">
      <device
            class="net.tourbook.device.garmin.GarminDeviceDataReader"
            fileextension="*"
            id="net.tourbook.device.GarminDeviceReader"
            name="Garmin"/>
   </extension>
   <extension
         point="net.tourbook.externalDeviceDataReader">
      <device
            class="net.tourbook.device.garmin.GarminExternalDevice"
            id="net.tourbook.device.GarminExternalDeviceReader"
            name="Garmin"
            type="serial">
      </device>
   </extension>

</plugin>
