/net.sourceforge.vrapper.eclipse.prefs
/org.eclipse.core.resources.prefs
/org.eclipse.jdt.ui.prefs
/org.eclipse.jsch.core.prefs
/org.eclipse.m2e.discovery.prefs
/org.eclipse.rcptt.launching.ext.ui.prefs
/org.eclipse.rcptt.launching.rap.ui.prefs
/org.eclipse.pde.api.tools.prefs
/org.eclipse.ui.prefs
