<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="net.tourbook.osm"
            class="net.tourbook.osm.OSMView"
            icon="icons/sample.gif"
            id="net.tourbook.osm.OSMViewID"
            name="OpenSteetMap">
      </view>
   </extension>
   <extension
         point="de.byteholder.geoclipse.mapOverlay">
      <painter class="net.tourbook.osm.TourPainter"/>
   </extension>

</plugin>
