<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.tourbook.category.tourMaps"
            name="TourMaps">
      </category>
      <view
            category="net.tourbook.category.tourMaps"
            class="net.tourbook.osm.OSMView"
            icon="icons/earth-globe-abstract.png"
            id="net.tourbook.osm.OSMViewID"
            name="%tour_map_name">
      </view>
   </extension>
   <extension
         point="de.byteholder.geoclipse.mapOverlay">
      <painter class="net.tourbook.osm.TourPainter"/>
   </extension>

</plugin>
