<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.exportWizards">
		<wizard
        category="org.eclipse.babel.build.ui.Globalization"
        class="org.eclipse.babel.build.ui.wizard.BuildToolWizard"
        icon="icons/locale.gif"
        id="org.eclipse.babel.build.ui.wizard.buildToolWizard"
        name="%wizard.name.0">
			<description>
		 	   %wizard.description.0 
		    </description>
		</wizard>
  <category
        id="org.eclipse.babel.build.ui.Globalization"
        name="%category.name.0">
  </category>
   </extension>
</plugin>
