
@import url(../../dojo/resources/dojo.css);
@import url(../../dijit/themes/tundra/tundra.css);
@import url(../../dgrid/css/dgrid.css);
@import url(../../dgrid/css/skins/tundra.css);


/*
	Dijit Button
	
	Overwrite dojo css by setting the custom class after the dojo class in the <body> tag.
*/
.search .dijitButton
{
	margin: 				0;	
}

.search .dijitButton .dijitButtonNode {
    
    font-size: 				1.2em;
    
    border-radius: 			0;
    border: 				1px solid transparent;

    background-color: 		transparent;
    background-image: 		none;

    box-shadow:				none;
}

.search .dijitButtonHover .dijitButtonNode {
    background-color: 		#ddd;
}

/*
	Overwrite dijit for the search text field.
*/
.search .dijitTextBox
{
	border-color: 			#f4f4f4;
	background-color:		#f4f4f4;
}

.search .dijitTextBoxFocused
{
	border-color:			#ddd;	
}

.search .dijitTextBoxHover
{
	background-image:		none;    			/* hide default gradient image */						
	border-width:			1px;	
	border-color:			#aaa;
}

/*
	Overwrite dijit for the search options dialog.
*/
.searchOptions .dijitDialog
{
	border:					1px solid #bbb;		/* replace blue border */
}

/*
	Search container
*/
#domContainer 
{
    height:					100%;
}


/*
	Search field
*/
#domSearchInputContainer
{
	padding:				0px;	
	background-color:		#f4f4f4;
	overflow:				hidden;
}

.domSearchInput
{
	width:					100%;
}

/*
	Search options
*/
.actionOptionsIcon
{
	/* set width/height wider than the image -> the focus rubberband looks much better */
	width:					20px; 
	height:					20px; 
	background-image: 		url("/tourbook/resources/options.png");
	background-repeat:		no-repeat;
	background-position: 	center;
}

/*
	Grid
*/
#domGrid 
{
    position: 				absolute;
    top: 					0;
    bottom: 				0;
    left: 					0;
    right: 					0;
    height: 				auto;
    	
    border:					0px;
}
	
#domGrid div:focus 
{ 
	xoutline: 				none; 
	outline-width:			1px;		/* 1px is default */
}


a /* an <a> covers the whole item */
{
	text-decoration:		none;
	color:					#444;
}


/*
	Item container
*/

.item-container 
{
	clear: 					both;		/* start new item */
	padding:				2px 0 2px 0;
	xmargin-bottom:			1px;
}

/* show hidden actions when search item is hovered */
.item-container:HOVER .action-container
{												
	opacity:				1.0;
	filter: 				alpha(opacity=100); 	/* IE needs this even in html standard mode*/
}

.item-container .action-container a:HOVER 
{ 
	border: 				1px solid #aaa;
	border-radius:			3px;
}

/*
	Actions
*/
.action-container 
{
	opacity:				0;
	filter: 				alpha(opacity=0);

	xbackground-color: 		#0ff;
	position:				absolute;
	right:					2px;					
	z-index:				10;
	xpadding:				0 1px 0px 0px;
}

a.action:LINK,
a.action:VISITED 
{
	display:				block;
	width: 					20px; 
	height: 				20px; 

	text-decoration:		none;
	
	background-repeat:		no-repeat;
	background-position:	center;

	border-radius:			3px;
	border:					1px solid rgba(0, 0, 0, 0.0);	/* hide border with transparent color */

	cursor: 				pointer; 
}

/*
	Result state
*/
.result-state
{
	padding-top:			20px;
}

/*
	Item
*/
.item-image 
{
	vertical-align:			top;
	padding-left:			5px;
	padding-right:			10px;
}

a.item:LINK,
a.item:VISITED 
{
	/* enforce width to the right border */
	display:				block;
	width:					auto;					

	text-decoration:		none;
}

.item-title
{
	text-decoration: 		underline;
}

.item-title-no-description
{
	/* hide underline when only the title is available but not a description */
	text-decoration: 		none;
}

.item-info
{
	font-size:				80%;
	color:					#888;
}

.item-info td
{
	padding-right:			20px;
}

