
html, body 
{
    height:					100%;
}

table
{
	border-collapse:		collapse;

	/* show border to debug tables */
	xborder:				1px solid; 
}

/*
	Vertical spacing between fields.
*/
.fieldVertSpaceTop
{
	margin-top:				0.5em;	
}

.fieldVertSpaceBottom
{
	margin-bottom:			0.5em;	
}

#domLoading 
{
	/* this is part of the trick to align vertically in the middle */
	display:				table;		
	
	position:				absolute;
	z-index:				1001;
	top:					0;
	left:					0;
	width:					100%;
	height:					100%;
	background-color:		#fff;
	
	color: 					#aaa;
	font-size: 				2em;
}

#domLoading div
{
	/* this is part of the trick to align vertically in the middle */
	display:				table-cell;

	vertical-align: 		middle;
	text-align: 			center;
}
