<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.viewActions">
		<viewContribution
			id="net.tourbook.export.openlayers.viewContribution"
			targetID="net.tourbook.mapping.mappingViewID">
			<action id="net.tourbook.export.openlayers.ActionOpenWebMapBrowser"
				label="%map_action_open_browser_map" 
				icon="icons/internal_browser.gif" 
				tooltip="%map_action_open_browser_map_tooltip"
				toolbarPath="mapSelectionAdditions"
				class="net.tourbook.export.openlayers.ActionOpenWebMapBrowser">
			</action>
		</viewContribution>
	</extension>
   <extension
         point="net.tourbook.exportTour">
      <export
            class="net.tourbook.export.ExportTourHTML"
            fileextension="html"
            id="net.tourbook.export.html"
            name="HTML OpenLayers">
      </export>
   </extension>

</plugin>
