<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.tourbook.deviceDataReader">
      <device
            class="net.tourbook.device.daum.ergobike.DaumErgoBikeDataReader"
            fileextension="csv"
            id="net.tourbook.device.CSVDaumErgoBikeDataReader"
            name="Daum Ergometer"/>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="net.tourbook.preferences.PrefPageDataImport"
            class="net.tourbook.device.daum.ergobike.PrefPageDaumErgoBike"
            id="net.tourbook.device.daum.ergobike.id"
            name="Daum Ergometer">
      </page>
   </extension>

</plugin>
