<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.tourbook.deviceDataReader">
      <device
            class="net.tourbook.device.daum.ergobike.DaumErgoBikeDataReader"
            fileextension="csv"
            id="net.tourbook.device.CSVDaumErgoBikeDataReader"
            name="Daum Ergometer"/>
   </extension>

</plugin>
