<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.14"?>
<plugin>
	
	<!-- FILE SYSTEMS -->
   
   <extension   point="net.tourbook.fileSystem">
      <fileSystem
         id             ="net.tourbook.cloud.DropboxFileSystem"
         name           ="Dropbox File System"
         class          ="net.tourbook.cloud.dropbox.DropboxFileSystem"
      />
   </extension>
   
	<!-- FILE SYSTEMS -->
	
	
	
	<!-- CLOUD FILES DOWNLOADERS -->

    <!-- Suunto -->
    <extension   point="net.tourbook.cloudDownloader">
      <cloudDownloader
         id             ="net.tourbook.cloud.SuuntoCloudDownloader"
         name           ="Suunto Files Downloader"
         class          ="net.tourbook.cloud.suunto.SuuntoCloudDownloader"
      />
   </extension>
   
	<!-- CLOUD FILES DOWNLOADERS -->
      
      
      
	<!-- CLOUD UPLOADERS -->

   <extension   point="net.tourbook.cloudUploader">
      <cloudUploader
         id             ="net.tourbook.cloud.StravaUploader"
         name           ="Strava Uploader"
         class          ="net.tourbook.cloud.strava.StravaUploader"
      />
   </extension>
   
   <extension   point="net.tourbook.cloudUploader">
      <cloudUploader
         id             ="net.tourbook.cloud.SuuntoRoutesUploader"
         name           ="Suunto Routes Uploader"
         class          ="net.tourbook.cloud.suunto.SuuntoRoutesUploader"
      />
   </extension>
   
	<!-- CLOUD UPLOADERS -->
	
	

   <!-- Dropbox -->
   <extension	point="org.eclipse.ui.preferencePages">
      <page
            category="net.tourbook.preferences.PrefPageCloud"
            class="net.tourbook.cloud.dropbox.PrefPageDropbox"
            id="net.tourbook.cloud.PrefPageDropbox"
            name="Dropbox">
      </page>
   </extension>
   
   
   <!-- Strava -->
   <extension	point="org.eclipse.ui.preferencePages">
      <page
            category="net.tourbook.preferences.PrefPageCloud"
            class="net.tourbook.cloud.strava.PrefPageStrava"
            id="net.tourbook.cloud.PrefPageStrava"
            name="Strava">
      </page>
   </extension>
   
   <!-- Suunto -->
   <extension	point="org.eclipse.ui.preferencePages">
      <page
            category="net.tourbook.preferences.PrefPageCloud"
            class="net.tourbook.cloud.suunto.PrefPageSuunto"
            id="net.tourbook.cloud.PrefPageSuunto"
            name="Suunto">
      </page>
   </extension>
   
    <extension   point="org.eclipse.core.runtime.preferences">
   
      <initializer
         class="net.tourbook.cloud.PreferenceInitializer"
      />

   </extension>

</plugin>
