/*
 Default is from page http://www.w3schools.com/html/html_css.asp
*/
html {
	overflow-y: scroll;
}

body {
	font-size:			13px;
	color:				#404040;
	xbackground-color:	#f1f1f1;
	background-color:	#fff;
	margin:				5px;
}

p,td,ul {
	line-height:		130%;
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input {
	font-family: 		verdana, helvetica, arial, sans-serif;
}

iframe {
	margin: 			0px;
}

img {
	border: 			0;
}

table,th,td,input,textarea {
	font-size:			100%;
}

h1 {
	font-size:			28px;
	margin-top:			0px;
	xfont-weight:		normal;
	font-weight:		bold;
}

h2 {
	font-size:			22px;
	margin-top:			10px;
	margin-bottom:		10px;
	font-weight:		normal;
}

h3 {
	font-size:			17px;
	font-weight: 		normal;
}

h4 {
	font-size:			12px;
}

h5 {
	font-size:			11px;
}

h6 {
	font-size:			10px;
}

h1,h2,h3,h4,h5,h6 {
	background-color:	transparent;
	color:				#000000;
}

.title {
	clear:				both;	
}

.date {
	float:				left;
}

.time {
	float:				right;
}

.top-margin {
	clear:				both;
	margin-top:			15px;
}

.label {
	font-weight: 		bold;
}

.description {
	font-weight: 		italic;
}