
html 
{
	overflow-y: 			scroll;
	height:					100%; 
	width:					100%; 
	margin:					0px; 
	padding:				0px;
}

body 
{
	font-size:				13px;
	color:					#404040;
	background-color:		#fff;
	margin:					5px;
}

p,td,ul 
{
	line-height:			130%;
}

p 
{
	margin:					0px;
}

img 
{
	border: 				0;
}

table
{
	border-collapse:		collapse;
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input 
{
	font-family: 			verdana, helvetica, arial, sans-serif;
}

.result-item
{
	padding-bottom: 		5px;
	clear: 					both;		/* start new item */
}

.result-title
{
	xpadding-left: 				20px;
}

.result-description
{
}

a.item-title:LINK,
a.item-title:VISITED 
{
	/* enforce width to the right border */
	display:				block;
	width:					auto;					

	text-decoration:		none;
	color:					#2B62D2;	

	/* adjust text that icon is not overlapped */
	text-indent:			20px;

	/* adjust icon image that it's bottom is aligned with the text */
	background-repeat:		no-repeat;
	padding-top: 			3px; 
	background-clip:		padding-box;
}

.item-date-time
{
	float: 					right;
	xtext-align:				right;
	margin-left:			10px;
	margin-bottom:			10px;
}
