
html {
	overflow-y: scroll;
}

body {
	font-size:			13px;
	color:				#404040;
	background-color:	#fff;
	margin:				5px;
}

p,td,ul {
	line-height:		130%;
}

p {
	margin:				0px;
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input {
	font-family: 		verdana, helvetica, arial, sans-serif;
}

iframe {
	margin: 			0px;
}

img {
	border: 			0;
}

table,th,td,input,textarea {
	font-size:			100%;
}

h1 {
	font-size:			28px;
	margin-top:			0px;
	font-weight:		bold;
}

h2 {
	font-size:			22px;
	margin-top:			10px;
	margin-bottom:		10px;
	font-weight:		normal;
}

h3 {
	font-size:			17px;
	font-weight: 		normal;
}

h4 {
	font-size:			12px;
}

h5 {
	font-size:			11px;
}

h6 {
	font-size:			10px;
}

h1,h2,h3,h4,h5,h6 {
	background-color:	transparent;
	color:				#000000;
}

.log-title {
	display:			block;
	width:				auto;					/* enforce width to the right border */
	font-size:			28px;
	font-weight:		bold;
	color:				#333;	
}
.log-title:HOVER {
	background-color: 	#eee;
}

.date {
	float:				left;
	width:				50%;
}

.time {
	float:				right;
	width:				50%;
	text-align: 		right;
}

.top-margin {
	clear:				both;
	margin-top:			15px;
}

.marker-title {
	margin-top:			13px;
	font-weight: 		bold;
}

.marker-title:HOVER {
	background-color: 	#eee;
}

a.label-text:LINK,
a.label-text:VISITED {
	display:			block;
	width:				auto;					/* enforce width to the right border */
	color:				#333;	
    text-decoration:	none;
}

.action-hover-container:HOVER 
.action-container {								/* show hidden actions */
	opacity:			1.0;
	filter: 			alpha(opacity=100); 	/* IE needs this even in html standard mode*/
}
.action-container {
	float:				right;
	opacity:			0;
	filter: 			alpha(opacity=0);
}

a.action:LINK,
a.action:VISITED {
	display:			block;
	
    text-decoration:	none;

	width: 				16px; 
	height: 			16px; 
	cursor: 			pointer; 
}

.description {
	font-weight: 		italic;
}
