<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.tourbook.deviceDataReader">
      <device
            class="net.tourbook.device.hac5.HAC5DeviceDataReader"
            fileextension="dat"
            id="net.tourbook.device.HAC5DeviceReader"
            name="HAC5"/>
   </extension>

</plugin>
