<?xml version="1.0" encoding="UTF-8" ?> $dateformatter.applyPattern("yyyy-MM-dd'T'HH:mm:ss'Z'") $double6formatter.applyPattern("0.000000") $double2formatter.applyPattern("0.00") $intformatter.applyPattern("0")
<gpx  version="1.0"
  creator="$author"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.topografix.com/GPX/1/0"
  xsi:schemaLocation="http://www.topografix.com/GPX/1/0 http://www.topografix.com/GPX/1/0/gpx.xsd">
  <time>$dateformatter.format($creation_date)</time>
  <bounds minlat="$min_latitude" minlon="$min_longitude"
          maxlat="$max_latitude" maxlon="$max_longitude"/>

## print all waypoints that are available:
#if($printwaypoints)
#foreach( $point in $waypoints )
  <wpt lat="$double6formatter.format($point.Latitude)" lon="$double6formatter.format($point.Longitude)">
#if($point.hasValidAltitude())
    <ele>$intformatter.format($point.Altitude)</ele>
#end
    <name>$!point.Identification</name>
#if($point.getComment().length() > 0)
    <desc>![CDATA[$!point.Comment]]</desc>
#end
#if($point.getSymbolName())
    <sym>$point.getSymbolName()</sym>
#end
  </wpt>
#end
#end
## print all routes that are available:
#if($printroutes)
#foreach( $route in $routes )
  <rte>
    <name>$!route.Identification</name>
#if($route.getComment().length() > 0)
    <desc>![CDATA[$!route.Comment]]</desc>
#end
    <number>$velocityCount</number>
#set ($points = $route.getWaypoints())
#foreach ($point in $points)
    <rtept lat="$double6formatter.format($point.Latitude)" lon="$double6formatter.format($point.Longitude)">
#if($point.hasValidAltitude())
        <ele>$intformatter.format($point.Altitude)</ele>
#end
#if($point.getIdentification().length() > 0)
    <name>![CDATA[$!point.Identification]]</name>
#end
#if($point.getComment().length() > 0)
    <desc>![CDATA[$!point.Comment]]</desc>
#end
    </rtept>
#end
  </rte>
#end
#end
## print all tracks that are available:
#if($printtracks)
#foreach( $track in $tracks )
#set($close_segment = false)
  <trk>
    <name>$!track.Identification</name>
#if($point.getComment().length() > 0)
    <desc>![CDATA[$!point.Comment]]</desc>
#end
##      <number>$velocityCount</number>
#set ($points = $track.getWaypoints())##
#foreach ($point in $points)##
#if($point.isNewTrack())
#if($close_segment)## close trkseg, if not the first occurence
    </trkseg>
#end
    <trkseg>
#set($close_segment = true)
#end
      <trkpt lat="$double6formatter.format($point.Latitude)" lon="$double6formatter.format($point.Longitude)">
#if($point.hasValidAltitude())
        <ele>$intformatter.format($point.Altitude)</ele>
#end
#if($point.getDate())## only if there is a time set! 
        <time>$dateformatter.format($point.getDate())</time>
#end
      </trkpt>
#end
#if($close_segment)
  </trkseg>
#end
  </trk>
#end
#end
</gpx>
