<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="net.tourbook.chart.definition.activeContext_isBarChart">
         <with
               variable="activeContexts">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <equals
                     value="net.tourbook.chart.context.barChart">
               </equals>
            </iterate>
         </with>
      </definition>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="net.tourbook.chart.command.zoomIn"
            name="%Command_chart_zoom_in">
      </command>
      <command
            id="net.tourbook.chart.command.zoomOut"
            name="%Command_chart_zoom_out">
      </command>
      <command
            id="net.tourbook.chart.command.fitGraph"
            name="%Command_chart_zoom_fit_to_graph">
      </command>
      <command
            id="net.tourbook.chart.command.partPrevious"
            name="%Command_chart_previous_month">
      </command>
      <command
            id="net.tourbook.chart.command.partNext"
            name="%Command_chart_next_month">
      </command>
 
   </extension>
   
   
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="no toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="net.tourbook.chart.toolbar.chartOptions">
            <command
                  commandId="net.tourbook.chart.command.zoomIn"
                  disabledIcon="icons/zoom-in-disabled.gif"
                  icon="icons/zoom-in.gif"
                  label="%Command_chart_zoom_in"
                  mnemonic="%Command_chart_zoom_in_mnemonic"
                  style="push"
                  tooltip="%Command_chart_zoom_in_tooltip">
               <visibleWhen>
                  <reference
                        definitionId="net.tourbook.definition.isTourChart">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="net.tourbook.chart.command.zoomOut"
                  disabledIcon="icons/zoom-out-disabled.gif"
                  icon="icons/zoom-out.gif"
                  label="%Command_chart_zoom_out"
                  mnemonic="%Command_chart_zoom_out_mnemonic"
                  style="push"
                  tooltip="%Command_chart_zoom_out_tooltip">
               <visibleWhen>
                  <reference
                        definitionId="net.tourbook.definition.isTourChart">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="net.tourbook.chart.command.fitGraph"
                  disabledIcon="icons/zoom-fit-graph-disabled.gif"
                  icon="icons/zoom-fit-graph.gif"
                  label="%Command_chart_zoom_fit_to_graph"
                  mnemonic="%Command_chart_zoom_fit_to_graph_mnemonic"
                  style="push"
                  tooltip="%Command_chart_zoom_fit_to_graph_tooltip">
               <visibleWhen>
                  <reference
                        definitionId="net.tourbook.definition.isTourChart">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="net.tourbook.chart.command.partPrevious"
                  disabledIcon="icons/arrow-left-disabled.gif"
                  icon="icons/arrow-left.gif"
                  label="%Command_chart_previous_month"
                  mnemonic="%Command_chart_previous_month_mnemonic"
                  style="push"
                  tooltip="%Command_chart_previous_month_tooltip">
               <visibleWhen>
                  <and>
                     <reference
                           definitionId="net.tourbook.definition.activePartId_contains_tourChart">
                     </reference>
                     <reference
                           definitionId="net.tourbook.chart.definition.activeContext_isBarChart">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="net.tourbook.chart.command.partNext"
                  disabledIcon="icons/arrow-right-disabled.gif"
                  icon="icons/arrow-right.gif"
                  label="%Command_chart_next_month"
                  mnemonic="%Command_chart_next_month_mnemonic"
                  style="push"
                  tooltip="%Command_chart_next_month_tooltip">
               <visibleWhen>
                  <and>
                     <reference
                           definitionId="net.tourbook.definition.activePartId_contains_tourChart">
                     </reference>
                     <reference
                           definitionId="net.tourbook.chart.definition.activeContext_isBarChart">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:net.tourbook.menu.main.tour?after=net.tourbook.chart.additions">
         <command
               commandId="net.tourbook.chart.command.zoomIn"
               disabledIcon="icons/zoom-in-disabled.gif"
               icon="icons/zoom-in.gif"
               label="%Command_chart_zoom_in"
               mnemonic="%Command_chart_zoom_in_mnemonic"
               style="push"
               tooltip="%Command_chart_zoom_in_tooltip">
         </command>
         <command
               commandId="net.tourbook.chart.command.zoomOut"
               disabledIcon="icons/zoom-out-disabled.gif"
               icon="icons/zoom-out.gif"
               label="%Command_chart_zoom_out"
               mnemonic="%Command_chart_zoom_out_mnemonic"
               style="push"
               tooltip="%Command_chart_zoom_out_tooltip">
         </command>
         <command
               commandId="net.tourbook.chart.command.fitGraph"
               disabledIcon="icons/zoom-fit-graph-disabled.gif"
               icon="icons/zoom-fit-graph.gif"
               label="%Command_chart_zoom_fit_to_graph"
               mnemonic="%Command_chart_zoom_fit_to_graph_mnemonic"
               style="push"
               tooltip="%Command_chart_zoom_fit_to_graph_tooltip">
         </command>
         <command
               commandId="net.tourbook.chart.command.partPrevious"
               disabledIcon="icons/arrow-left-disabled.gif"
               icon="icons/arrow-left.gif"
               label="%Command_chart_previous_month"
               mnemonic="%Command_chart_previous_month_mnemonic"
               style="push"
               tooltip="%Command_chart_previous_month_tooltip">
         </command>
         <command
               commandId="net.tourbook.chart.command.partNext"
               disabledIcon="icons/arrow-right-disabled.gif"
               icon="icons/arrow-right.gif"
               label="%Command_chart_next_month"
               mnemonic="%Command_chart_next_month_mnemonic"
               style="push"
               tooltip="%Command_chart_next_month_tooltip">
         </command>
         <separator
               name="net.tourbook.chart.separator"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="net.tourbook.chart.context.barChart"
            name="net.tourbook.chart.context.barChart">
      </context>
   </extension>

</plugin>
