<?xml version="1.0" encoding="UTF-8" standalone="no" ?> 
<TrainingCenterDatabase 
	xmlns="http://www.garmin.com/xmlschemas/TrainingCenterDatabase/v2" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.garmin.com/xmlschemas/TrainingCenterDatabase/v2 http://www.garmin.com/xmlschemas/TrainingCenterDatabasev2.xsd">
#if($iscourses)
	<Courses>
		<Course>
			<Name>$coursename</Name>
#else
	<Activities>
		<Activity Sport="Biking">
#end
			<Id>$dateformat.format($starttime)</Id>
			<Lap StartTime="$dateformat.format($starttime)">
				<TotalTimeSeconds>$totaltime</TotalTimeSeconds>
				<DistanceMeters>$nf3.format($totaldistance)</DistanceMeters>
				<Calories>$lap.getCalories()</Calories>
#if($averageheartrate)
				<AverageHeartRateBpm xsi:type="HeartRateInBeatsPerMinute_t">
					<Value>$averageheartrate</Value>
				</AverageHeartRateBpm>
#end
#if($maximumheartrate)
				<MaximumHeartRateBpm xsi:type="HeartRateInBeatsPerMinute_t">
					<Value>$maximumheartrate</Value>
				</MaximumHeartRateBpm>
#end
				<Intensity>Active</Intensity>
#if($averagecadence)		
				<Cadence>$averagecadence</Cadence>
#end
				<TriggerMethod>Manual</TriggerMethod>
#foreach( $track in $tracks )				
				<Track>
#set ($points = $track.getWaypoints())
#foreach ($point in $points)
					<Trackpoint>
#if($point.getDate())
                        <Time>$dateformat.format($point.getDate())</Time>
#end
						<Position>
							<LatitudeDegrees>$nf6.format($point.Latitude)</LatitudeDegrees>
							<LongitudeDegrees>$nf6.format($point.Longitude)</LongitudeDegrees>
						</Position>
#if($point.hasValidAltitude())
						<AltitudeMeters>$nf3.format($point.Altitude)</AltitudeMeters>
#end
#if($point.hasValidDistance())
						<DistanceMeters>$nf3.format($point.Distance)</DistanceMeters>
#end
#if($point.hasValidHeartrate())
						<HeartRateBpm xsi:type="HeartRateInBeatsPerMinute_t">
							<Value>$point.Heartrate</Value>
						</HeartRateBpm>
#if($point.hasValidCadence())
						<Cadence type="CadenceValue_t">$point.Cadence</Cadence>
#end
#end
					</Trackpoint>
#end
				</Track>
#end
			</Lap>
#if ($lap.hasNotes())
			<Notes>$lap.getNotes()</Notes>
			<Notes><![CDATA[$!lap.Notes]]></Notes>
#end
            <Creator xsi:type="Device_t">
              <Name>$creator</Name>
              <UnitId></UnitId>
              <ProductID></ProductID>
              <Version>
                <VersionMajor>$pluginMajorVersion</VersionMajor>
                <VersionMinor>$pluginMinorVersion</VersionMinor>
                <BuildMajor>$pluginMicroVersion</BuildMajor>
                <BuildMinor>$pluginQualifierVersion</BuildMinor>
              </Version>
            </Creator>
#if($iscourses)
		</Course>
	</Courses>
#else
		</Activity>
	</Activities>
#end
	<Author xsi:type="Application_t">
		<Name>$creator</Name>
		<Build>
			<Version>
				<VersionMajor>$pluginMajorVersion</VersionMajor>
				<VersionMinor>$pluginMinorVersion</VersionMinor>
				<BuildMajor>$pluginMicroVersion</BuildMajor>
				<BuildMinor>$pluginQualifierVersion</BuildMinor>
			</Version>
			<Type>Release</Type>
		</Build>
		<LangID>EN</LangID>
        <PartNumber>2009-05-23_17-26-51_ID</PartNumber>
	</Author>
</TrainingCenterDatabase>
