<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension  point="net.tourbook.statisticYear">

      <!-- DAY_TIME -->

      <statistic
         name           ="%Pref_Tour_Time"
         class          ="net.tourbook.statistics.graphs.StatisticTour_Time"
         id             ="net.tourbook.statistics.StatisticTourTime"
         category-data  ="Summary"
         category-time  ="Day"
      />


      <!-- SUMMARY -->

      <statistic
         name           ="%Pref_Day_Summary"
         class          ="net.tourbook.statistics.graphs.StatisticDay_Summary"
         id             ="net.tourbook.statistics.StatisticSummaryDayCombined"
         category-data  ="Summary"
         category-time  ="Day"/>

      <statistic
         name           ="%Pref_Week_Summary"
         class          ="net.tourbook.statistics.graphs.StatisticWeek_Summary"
         id             ="net.tourbook.statistics.StatisticSummaryWeekCombined"
         category-data  ="Summary"
         category-time  ="Week"
      />

      <statistic
         name           ="%Pref_Month_Summary"
         class          ="net.tourbook.statistics.graphs.StatisticMonth_Summary"
         id             ="net.tourbook.statistics.StatisticSummaryMonthCombined"
         category-data  ="Summary"
         category-time  ="Month"
      />

      <statistic
         name           ="%Pref_Year_Summary"
         class          ="net.tourbook.statistics.graphs.StatisticYear_Summary"
         id             ="net.tourbook.statistics.StatisticSummaryYear"
         category-data  ="Summary"
         category-time  ="Year"
      />

      <statistic
         name           ="%Pref_Tour_Numbers"
         class          ="net.tourbook.statistics.graphs.StatisticTour_Frequency"
         id             ="net.tourbook.statistics.StatisticTourNumbers"
         category-data  ="Summary"
         category-time  ="Year"
      />


      <!-- HR -->
      
      <statistic
         name           ="%Hr_Zone_Week"
         class          ="net.tourbook.statistics.graphs.StatisticWeek_HrZone"
         id             ="net.tourbook.statistics.StatisticWeekHrZone"
         category-data  ="HR"
         category-time  ="Week"
      />

      <statistic
         name           ="%Hr_Zone_Month"
         class          ="net.tourbook.statistics.graphs.StatisticMonth_HrZone"
         id             ="net.tourbook.statistics.StatisticMonthHrZone"
         category-data  ="HR"
         category-time  ="Month"
      />


      <!-- TRAINING -->

      <statistic
         name           ="%Statistic_Training_Line"
         id             ="net.tourbook.statistics.graphs.StatisticTraining_Line"
         class          ="net.tourbook.statistics.graphs.StatisticTraining_Line"
         category-data  ="Training"
         category-time  ="Day"
      />

      <statistic
         name           ="%Statistic_Training_Bar"
         id             ="net.tourbook.statistics.graphs.StatisticTraining_Bar"
         class          ="net.tourbook.statistics.graphs.StatisticTraining_Bar"
         category-data  ="Training"
         category-time  ="Day"
      />


      <!-- TIME -->
      
      <statistic
         name           ="%Pref_Day_Summary_Duration"
         class          ="net.tourbook.statistics.graphs.StatisticDay_TourTime"
         id             ="net.tourbook.statistics.StatisticSummaryDayTourTime"
         category-data  ="Time"
         category-time  ="Day"
      />

      <statistic
         name           ="%Pref_Week_Summary_Duration"
         class          ="net.tourbook.statistics.graphs.StatisticWeek_TourTime"
         id             ="net.tourbook.statistics.StatisticSummaryWeekDuration"
         category-data  ="Time"
         category-time  ="Week"
      />
      
      <statistic
         name           ="%Pref_Month_Summary_TourTime"
         class          ="net.tourbook.statistics.graphs.StatisticMonth_Duration"
         id             ="net.tourbook.statistics.StatisticSummaryMonthTourTime"
         category-data  ="Time"
         category-time  ="Month"
      />
      
      <statistic
         name           ="%Pref_Year_Summary_TourTime"
         class          ="net.tourbook.statistics.graphs.StatisticYear_TourTime"
         id             ="net.tourbook.statistics.StatisticSummaryYearTourTime"
         category-data  ="Time"
         category-time  ="Year"
      />
      

      <!-- DISTANCE -->
      
      <statistic
         name           ="%Pref_Day_Summary_Distance"
         class          ="net.tourbook.statistics.graphs.StatisticDay_Distance"
         id             ="net.tourbook.statistics.StatisticSummaryDayDistance"
         category-data  ="Distance"
         category-time  ="Day"
      />

      <statistic
         name           ="%Pref_Week_Summary_Distance"
         class          ="net.tourbook.statistics.graphs.StatisticWeek_Distance"
         id             ="net.tourbook.statistics.StatisticSummaryWeekDistance"
         category-data  ="Distance"
         category-time  ="Week"
      />

      <statistic
         name           ="%Pref_Month_Summary_Distance"
         class          ="net.tourbook.statistics.graphs.StatisticMonth_Distance"
         id             ="net.tourbook.statistics.StatisticSummaryMonthDistance"
         category-data  ="Distance"
         category-time  ="Month"
      />

      <statistic
         name           ="%Pref_Year_Summary_Distance"
         class          ="net.tourbook.statistics.graphs.StatisticYear_Distance"
         id             ="net.tourbook.statistics.StatisticSummaryYearDistance"
         category-data  ="Distance"
         category-time  ="Year"
      />


      <!-- ELEVATION UP -->

      <statistic
         name           ="%Pref_Day_Summary_Elevation_Up"
         class          ="net.tourbook.statistics.graphs.StatisticDay_Elevation_Up"
         id             ="net.tourbook.statistics.StatisticSummary_Day_Elevation_Up"
         category-data  ="Elevation"
         category-time  ="Day"
      />

      <statistic
         name           ="%Pref_Week_Summary_Elevation_Up"
         class          ="net.tourbook.statistics.graphs.StatisticWeek_Elevation_Up"
         id             ="net.tourbook.statistics.StatisticSummary_Week_Elevation_Up"
         category-data  ="Elevation"
         category-time  ="Week"
      />

      <statistic
         name           ="%Pref_Month_Summary_Elevation_Up"
         class          ="net.tourbook.statistics.graphs.StatisticMonth_Elevation_Up"
         id             ="net.tourbook.statistics.StatisticSummary_Month_Elevation_Up"
         category-data  ="Elevation"
         category-time  ="Month"
      />

      <statistic
         name           ="%Pref_Year_Summary_Elevation_Up"
         class          ="net.tourbook.statistics.graphs.StatisticYear_Elevation_Up"
         id             ="net.tourbook.statistics.StatisticSummary_Year_Elevation_Up"
         category-data  ="Elevation"
         category-time  ="Year"
      />


      <!-- ELEVATION DOWN -->

      <statistic
         name           ="%Pref_Day_Summary_Elevation_Down"
         class          ="net.tourbook.statistics.graphs.StatisticDay_Elevation_Down"
         id             ="net.tourbook.statistics.StatisticSummary_Day_Elevation_Down"
         category-data  ="Elevation"
         category-time  ="Day"
      />

      <statistic
         name           ="%Pref_Week_Summary_Elevation_Down"
         class          ="net.tourbook.statistics.graphs.StatisticWeek_Elevation_Down"
         id             ="net.tourbook.statistics.StatisticSummary_Week_Elevation_Down"
         category-data  ="Elevation"
         category-time  ="Week"
      />

      <statistic
         name           ="%Pref_Month_Summary_Elevation_Down"
         class          ="net.tourbook.statistics.graphs.StatisticMonth_Elevation_Down"
         id             ="net.tourbook.statistics.StatisticSummary_Month_Elevation_Down"
         category-data  ="Elevation"
         category-time  ="Month"
      />

      <statistic
         name           ="%Pref_Year_Summary_Elevation_Down"
         class          ="net.tourbook.statistics.graphs.StatisticYear_Elevation_Down"
         id             ="net.tourbook.statistics.StatisticSummary_Year_Elevation_Down"
         category-data  ="Elevation"
         category-time  ="Year"
      />


      <!-- ATHLETE -->

      <statistic
         name           ="%Pref_Day_Summary_AthleteData"
         class          ="net.tourbook.statistics.graphs.StatisticDay_AthleteData"
         id             ="net.tourbook.statistics.StatisticSummaryDayAthleteData"
         category-data  ="AthleteData"
         category-time  ="Day"
      />

      <statistic
         name           ="%Pref_Week_Summary_AthleteData"
         class          ="net.tourbook.statistics.graphs.StatisticWeek_AthleteData"
         id             ="net.tourbook.statistics.StatisticSummaryWeekAthleteData"
         category-data  ="AthleteData"
         category-time  ="Week"
      />

      <statistic
         name           ="%Pref_Month_Summary_AthleteData"
         class          ="net.tourbook.statistics.graphs.StatisticMonth_AthleteData"
         id             ="net.tourbook.statistics.StatisticSummaryMonthAthleteData"
         category-data  ="AthleteData"
         category-time  ="Month"
      />

      <statistic
         name           ="%Pref_Year_Summary_AthleteData"
         class          ="net.tourbook.statistics.graphs.StatisticYear_AthleteData"
         id             ="net.tourbook.statistics.StatisticSummaryYearAthleteData"
         category-data  ="AthleteData"
         category-time  ="Year"
      />

      <!-- BATTERY -->

      <statistic 
         name           ="%Statistic_Battery"
         id             ="net.tourbook.statistics.graphs.StatisticBattery"
         class          ="net.tourbook.statistics.graphs.StatisticBattery"
         category-data  ="Battery"
         category-time  ="Other"
      />


   </extension>

</plugin>
