<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.tourbook.deviceDataReader">
      <device
            class="net.tourbook.device.polartrainer.PolarTrainerDataReader"
            fileextension="xml"
            id="net.tourbook.device.PolarTrainerDataReader"
            name="Polar Personaltrainer"/>
   </extension>

</plugin>
