<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.tourbook.statisticYear">
      <statistic
            class="net.tourbook.statistics.StatisticTourTime"
            id="net.tourbook.statistics.StatisticTourTime"
            name="%Pref_Tour_Time"/>
      <statistic
            class="net.tourbook.statistics.StatisticDayCombined"
            id="net.tourbook.statistics.StatisticSummaryDayCombined"
            name="%Pref_Day_Summary"/>
      <statistic
            class="net.tourbook.statistics.StatisticWeekCombined"
            id="net.tourbook.statistics.StatisticSummaryWeekCombined"
            name="%Pref_Week_Summary"/>
      <statistic
            class="net.tourbook.statistics.StatisticMonth"
            id="net.tourbook.statistics.StatisticSummaryMonth"
            name="%Pref_Month_Summary"/>
      <statistic
            class="net.tourbook.statistics.StatisticYear"
            id="net.tourbook.statistics.StatisticSummaryYear"
            name="%Pref_Year_Summary"/>
      <statistic
            class="net.tourbook.statistics.StatisticTourNumbers"
            id="net.tourbook.statistics.StatisticTourNumbers"
            name="%Pref_Tour_Numbers"/>
      <statistic
            class="net.tourbook.statistics.StatisticDayAltitude"
            id="net.tourbook.statistics.StatisticSummaryDayAltitude"
            name="%Pref_Day_Summary_Altitude"/>
      <statistic
            class="net.tourbook.statistics.StatisticDayDistance"
            id="net.tourbook.statistics.StatisticSummaryDayDistance"
            name="%Pref_Day_Summary_Distance"/>
      <statistic
            class="net.tourbook.statistics.StatisticDayTourTime"
            id="net.tourbook.statistics.StatisticSummaryDayTourTime"
            name="%Pref_Day_Summary_Duration"/>
      <statistic
            class="net.tourbook.statistics.StatisticWeekAltitude"
            id="net.tourbook.statistics.StatisticSummaryWeekAltitude"
            name="%Pref_Week_Summary_Altitude"/>
      <statistic
            class="net.tourbook.statistics.StatisticWeekDistance"
            id="net.tourbook.statistics.StatisticSummaryWeekDistance"
            name="%Pref_Week_Summary_Distance"/>
      <statistic
            class="net.tourbook.statistics.StatisticWeekTourTime"
            id="net.tourbook.statistics.StatisticSummaryWeekDuration"
            name="%Pref_Week_Summary_Duration"/>
   </extension>

</plugin>
