<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.tourbook.statisticYear">
         
      <statistic
            class="net.tourbook.statistics.StatisticTourTime"
            id="net.tourbook.statistics.StatisticTourTime"
            name="%Pref_Tour_Time"/>
            
      <statistic
            class="net.tourbook.statistics.StatisticDayCombined"
            id="net.tourbook.statistics.StatisticSummaryDayCombined"
            name="%Pref_Day_Summary"/>
            
      <statistic
            class="net.tourbook.statistics.StatisticWeekCombined"
            id="net.tourbook.statistics.StatisticSummaryWeekCombined"
            name="%Pref_Week_Summary"/>
      <statistic
            class="net.tourbook.statistics.StatisticMonthCombined"
            id="net.tourbook.statistics.StatisticSummaryMonthCombined"
            name="%Pref_Month_Summary"/>
      <statistic
            class="net.tourbook.statistics.StatisticYearCombined"
            id="net.tourbook.statistics.StatisticSummaryYear"
            name="%Pref_Year_Summary"/>

      <statistic
            class="net.tourbook.statistics.StatisticTourHrZone"
            id="net.tourbook.statistics.StatisticTourHrZone"
            name="%Hr_Zone_Tour"/>
      <statistic
            class="net.tourbook.statistics.StatisticMonthHrZoneBeside"
            id="net.tourbook.statistics.StatisticMonthHrZoneBeside"
            name="%Hr_Zone_Month"/>
      <statistic
            class="net.tourbook.statistics.StatisticMonthHrZoneStacked"
            id="net.tourbook.statistics.StatisticMonthHrZoneStacked"
            name="%Hr_Zone_Month_Stacked"/>

      <statistic
            class="net.tourbook.statistics.StatisticDayTourTime"
            id="net.tourbook.statistics.StatisticSummaryDayTourTime"
            name="%Pref_Day_Summary_Duration"/>
      <statistic
            class="net.tourbook.statistics.StatisticWeekTourTime"
            id="net.tourbook.statistics.StatisticSummaryWeekDuration"
            name="%Pref_Week_Summary_Duration"/>
      <statistic
            class="net.tourbook.statistics.StatisticMonthTourTime"
            id="net.tourbook.statistics.StatisticSummaryMonthTourTime"
            name="%Pref_Month_Summary_TourTime"/>
      <statistic
            class="net.tourbook.statistics.StatisticYearTourTime"
            id="net.tourbook.statistics.StatisticSummaryYearTourTime"
            name="%Pref_Year_Summary_TourTime"/>

      <statistic
            class="net.tourbook.statistics.StatisticDayDistance"
            id="net.tourbook.statistics.StatisticSummaryDayDistance"
            name="%Pref_Day_Summary_Distance"/>
      <statistic
            class="net.tourbook.statistics.StatisticWeekDistance"
            id="net.tourbook.statistics.StatisticSummaryWeekDistance"
            name="%Pref_Week_Summary_Distance"/>
      <statistic
            class="net.tourbook.statistics.StatisticMonthDistance"
            id="net.tourbook.statistics.StatisticSummaryMonthDistance"
            name="%Pref_Month_Summary_Distance"/>
      <statistic
            class="net.tourbook.statistics.StatisticYearDistance"
            id="net.tourbook.statistics.StatisticSummaryYearDistance"
            name="%Pref_Year_Summary_Distance"/>

      <statistic
            class="net.tourbook.statistics.StatisticDayAltitude"
            id="net.tourbook.statistics.StatisticSummaryDayAltitude"
            name="%Pref_Day_Summary_Altitude"/>
      <statistic
            class="net.tourbook.statistics.StatisticWeekAltitude"
            id="net.tourbook.statistics.StatisticSummaryWeekAltitude"
            name="%Pref_Week_Summary_Altitude"/>
      <statistic
            class="net.tourbook.statistics.StatisticMonthAltitude"
            id="net.tourbook.statistics.StatisticSummaryMonthAltitude"
            name="%Pref_Month_Summary_Altitude"/>
      <statistic
            class="net.tourbook.statistics.StatisticYearAltitude"
            id="net.tourbook.statistics.StatisticSummaryYearAltitude"
            name="%Pref_Year_Summary_Altitude"/>
      <statistic
            class="net.tourbook.statistics.StatisticTourNumbers"
            id="net.tourbook.statistics.StatisticTourNumbers"
            name="%Pref_Tour_Numbers"/>
            

   </extension>

</plugin>
