<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.tourbook.statisticYear">
      <statistic
            class="net.tourbook.statistics.StatisticTourTime"
            id="net.tourbook.statistics.StatisticTourTime"
            name="Tour Time"/>
      <statistic
            class="net.tourbook.statistics.StatisticDayCombined"
            id="net.tourbook.statistics.StatisticSummaryDayCombined"
            name="Day Summary"/>
      <statistic
            class="net.tourbook.statistics.StatisticWeekCombined"
            id="net.tourbook.statistics.StatisticSummaryWeekCombined"
            name="Week Summary"/>
      <statistic
            class="net.tourbook.statistics.StatisticMonth"
            id="net.tourbook.statistics.StatisticSummaryMonth"
            name="Month Summary"/>
      <statistic
            class="net.tourbook.statistics.StatisticTourNumbers"
            id="net.tourbook.statistics.StatisticTourNumbers"
            name="Tour Numbers"/>
      <statistic
            class="net.tourbook.statistics.StatisticDayAltitude"
            id="net.tourbook.statistics.StatisticSummaryDayAltitude"
            name="Day Summary - Altitude"/>
      <statistic
            class="net.tourbook.statistics.StatisticDayDistance"
            id="net.tourbook.statistics.StatisticSummaryDayDistance"
            name="Day Summary - Distance"/>
      <statistic
            class="net.tourbook.statistics.StatisticDayTourTime"
            id="net.tourbook.statistics.StatisticSummaryDayTourTime"
            name="Day Summary - Duration"/>
      <statistic
            class="net.tourbook.statistics.StatisticWeekTourTime"
            id="net.tourbook.statistics.StatisticSummaryWeekDuration"
            name="Week Summary - Duration"/>
      <statistic
            class="net.tourbook.statistics.StatisticWeekAltitude"
            id="net.tourbook.statistics.StatisticSummaryWeekAltitude"
            name="Week Summary - Altitude"/>
      <statistic
            class="net.tourbook.statistics.StatisticWeekDistance"
            id="net.tourbook.statistics.StatisticSummaryWeekDistance"
            name="Week Summary - Distance"/>
   </extension>

</plugin>
