<!DOCTYPE html>
<html>

<head>
   <title>My first Vue app</title>
   <script src="vue.js"></script>
</head>

<body>
   <div id="app">
      {{ message }}
   </div>
   <div id="app-2">
      <span v-bind:title="hoverTooltip">
         Hover your mouse over me for a few seconds
         to see my dynamically bound title!
      </span>
   </div>
   <div id="app-3">
      <span v-if="seen">this is some text</span>
   </div>
   <div id="app-4">
      <ol>
         <li v-for="todo in todos">
            {{todo.text}}
         </li>
      </ol>
   </div>

   <div id="app-5">
      <p>{{message}}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
   </div>

   <div id="app-6">
      <p>{{message}}</p>
      <input v-model="message">
   </div>

   <div id="app-7">
      <ol>
         <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
      </ol>
   </div>

   <div id="components-demo">
      <button-counter></button-counter>
   </div>



   <script>
      /*eslint-disable no-unused-vars */
      /*globals Vue */
      var app = new Vue({
         el: '#app',
         data: {
            message: 'Hello Vue in MyTourbook!'
         }
      });

      var app2 = new Vue({
         el: '#app-2',
         data: {
            hoverTooltip: 'hoverTooltip you loaded this page on ' + new Date().toLocaleString()
         }
      });

      var app3 = new Vue({
         el: '#app-3',
         data: {
            seen: true
         }
      });

      var app4 = new Vue({
         el: '#app-4',
         data: {
            todos: [
               { text: 'Learn Javascript' },
               { text: 'Learn Vue' },
               { text: 'Buile something awesome' }
            ]
         }
      });

      var app5 = new Vue({
         el: '#app-5',
         data: {
            message: 'Hello Vue.js!'
         },
         methods: {
            reverseMessage: function () {
               this.message = this.message.split('').reverse().join('');
            }
         }
      });

      var app6 = new Vue({
         el: '#app-6',
         data: {
            message: 'this is vue again'
         }
      });

      /////////////////////////////////////////////////////////////

      Vue.component('todo-item', {

         props: ['todo'],
         template: '<li>{{ todo.text}}</li>'
      });

      var app7 = new Vue({

         el: '#app-7',

         data: {
            groceryList: [
               { id: 0, text: 'Gemüse' },
               { id: 1, text: 'Käse' },
               { id: 2, text: 'Anything else' },
            ]
         },

         created: function () {

            // `this` points to the vm instance
            console.log('created() - groceryList is: ' + this.groceryList)
         }
      });

      /////////////////////////////////////////////////////////////

      Vue.component('button-counter', {

         data: function () {
            return { count: 0 }
         },

         template: '<button v-on:click="count++;">Your clicked me {{count}} time.</button>'
      })

      new Vue({ el: '#components-demo' })

   </script>
</body>

</html>