<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.babel.editor.MessagesEditor"
            contributorClass="org.eclipse.babel.editor.MessagesEditorContributor"
            default="true"
            extensions="properties"
            icon="icons/propertiesfile.gif"
            id="com.essiembre.rbe.eclipse.editor.ResourceBundleEditor"
            name="%editor.title"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%editor.title"
            class="org.eclipse.babel.editor.preferences.GeneralPrefPage"
            id="org.eclipse.babel.editor.preferences.GeneralPrefPage">
      </page>
      <page
            class="org.eclipse.babel.editor.preferences.FormattingPrefPage"
            category="org.eclipse.babel.editor.preferences.GeneralPrefPage"
            name="%prefs.formatting"
            id="org.eclipse.babel.editor.preferences.FormattingPrefPage"/>
      <page
            class="org.eclipse.babel.editor.preferences.ReportingPrefPage"
            category="org.eclipse.babel.editor.preferences.GeneralPrefPage"
            name="%prefs.performance"
            id="com.essiembre.eclipse.rbe.ui.preferences.RBEReportingPrefPage"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               id="org.eclipse.babel.editor.views.ResourceBundleView"
               relationship="right">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.babel.editor.preferences.PreferenceInitializer">
      </initializer>
   </extension>

    <extension id="nlsmarker" point="org.eclipse.core.resources.markers"/>
	<extension
	     id="nlsproblem"
	     name="ResourceBundle Editor problems"
	     point="org.eclipse.core.resources.markers">
	   <super type="org.eclipse.core.resources.problemmarker"/>
	   <super type="org.eclipse.babel.editor.nlsmarker"/>
	   <attribute name="bundleId"/>
	   <persistent value="true"/>
	</extension>
 <extension
       id="rbeBuilder"
       name="RBE Project Builder"
       point="org.eclipse.core.resources.builders">
    <builder hasNature="true">
       <run class="org.eclipse.babel.editor.builder.Builder"/>
    </builder>
 </extension>
 <extension
       id="rbeNature"
       name="RBE Project Nature"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run class="org.eclipse.babel.editor.builder.Nature"/>
    </runtime>
    <builder id="org.eclipse.babel.editor.rbeBuilder"/>
 </extension>
 <extension
       point="org.eclipse.ui.popupMenus">
    <!--objectContribution
          adaptable="true"
          id="com.essiembre.rbe.eclipse.contribution1"
          nameFilter="*"
          objectClass="org.eclipse.core.resources.IProject">
       <action
             class="org.eclipse.babel.editor.builder.ToggleNatureAction"
             enablesFor="+"
             id="com.essiembre.rbe.eclipse.addRemoveNatureAction"
             label="Unable/Disable i18n properties validator builder"
             menubarPath="additions"/>
    </objectContribution-->
    
    <objectContribution
            adaptable="true"
            id="com.essiembre.rbe.eclipse.objectContribution2"
            objectClass="org.eclipse.core.resources.IProject">
       	 <visibility>
         <and>
            <objectState
                  name="open"
                  value="true"/>
        	<not>
            <objectState 
	            name="nature" 
	            value="org.eclipse.babel.editor.rbeNature"/>
            </not>
         </and>
         </visibility>
         <action
               class="org.eclipse.babel.editor.builder.ToggleNatureActionAdd"
               enablesFor="1"
               id="com.essiembre.rbe.eclipse.addNatureAction"
               label="%addNatureAction.label"
               menubarPath="additions"
               tooltip="%addNatureAction.tooltip"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.essiembre.rbe.eclipse.objectContribution3"
            objectClass="org.eclipse.core.resources.IProject">
       	 <visibility>
         <and>
            <objectState
                  name="open"
                  value="true"/>
        	<objectState 
	            name="nature" 
	            value="org.eclipse.babel.editor.rbeNature"/>
         </and>
         </visibility>
         <action
               class="org.eclipse.babel.editor.builder.ToggleNatureActionRemove"
               enablesFor="1"
               id="com.essiembre.rbe.eclipse.removeNatureAction"
               label="%removeNatureAction.label"
               menubarPath="additions"
               tooltip="%removeNatureAction.tooltip"/>
      </objectContribution>
 </extension>
 <extension
       id="com.essiembre.rbe.startup"
       name="RBE Startup"
       point="org.eclipse.ui.startup">
    <startup class="org.eclipse.babel.editor.plugin.Startup"/>
 </extension>
 <extension
       point="org.eclipse.ui.newWizards">
    <category
          id="org.eclipse.babel.editor.wizards.ResourceBundle"
          name="%wizard.category">
    </category>
    <wizard
          category="org.eclipse.babel.editor.wizards.ResourceBundle"
          class="org.eclipse.babel.editor.wizards.ResourceBundleWizard"
          icon="icons/resourcebundle.gif"
          id="org.eclipse.babel.editor.wizards.ResourceBundleWizard"
          name="%wizard.rb.title">
       <description>
          %wizard.rb.description
       </description>
    </wizard>
 </extension>



   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.eclipse.pde.nls.internal.ui.editor.LocalizationEditorInputFactory"
            id="org.eclipse.pde.nls.ui.LocalizationEditorInputFactory"/>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.pde.nls.internal.ui.editor.LocalizationEditor"
            icon="icons/obj16/nls_editor.gif"
            id="org.eclipse.pde.nls.ui.LocalizationEditor"
            name="%localizationEditorName"/>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.pde.nls.internal.ui.OpenLocalizationEditorHandler"
            id="org.eclipse.pde.nls.ui.OpenLocalizationEditor"
            name="%command_openLocalizationEditor_name">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:edit?after=additions">
         <command
               commandId="org.eclipse.pde.nls.ui.OpenLocalizationEditor"
               mnemonic="%command_openLocalizationEditor_mnemonic"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
