<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="net.tourbook.exportTour">

		<export
			id="net.tourbook.export.gpx"
			class="net.tourbook.export.ExportTourGPX"
			name="GPX"
			fileextension="gpx"
		/>

		<export
			id="net.tourbook.export.tcx"
			class="net.tourbook.export.ExportTourTCX"
			name="TCX"
			fileextension="tcx"
		/>
		
	</extension>

</plugin>
