<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.tourbook.deviceDataReader">
      <device
            class="net.tourbook.device.gpx.GPXDeviceDataReader"
            fileextension="gpx"
            id="net.tourbook.device.GarminDeviceReader"
            name="GPX"/>
   </extension>

</plugin>
