
/* Hide line animation when entering/exiting input field */
.v-text-field > .v-input__control > .v-input__slot:before,
.v-text-field > .v-input__control > .v-input__slot:after
{
   transition:          none; 
}

/*
   Search actions
*/
.actionIcon
{
   /* set width/height wider than the image -> the focus rubberband looks much better */
   width:                  20px; 
   height:                 20px; 
   background-repeat:      no-repeat;
   background-position:    center;
}

.iconOptions {             background-image: url("/$MT-ICON$/options.png");}
.iconPhotoTooltip {        background-image: url("/$MT-ICON$/photo-tooltip.png");}
.iconSearch {              background-image: url("/$MT-ICON$/search.png");}
.iconTourChart {           background-image: url("/$MT-ICON$/tour-chart.png");}
.iconTourMarker {          background-image: url("/$MT-ICON$/tour-marker.png");}


/*
  App info tooltip
*/
.app-tooltip .popper {
   xposition:          absolute;
   width:             400px;
   border:            1px #BBB solid;
   border-radius:     0px;
   padding:           0px;
   background:        #fff;
   color:             #444;
   box-shadow:        0 0 0px rgba(0, 0, 0, 0.5);
   text-align:        left;
}

/* Hide popper arrow, have not found a better solution */
.app-tooltip .popper__arrow {
   display:          none;
}

/* Ignore vuetify formatting */
.app-tooltip .v-subheader
{
   padding:          0px;
   margin:           0px;
   height:           auto;
}

/* Ignore vuetify formatting */
.app-tooltip .v-input
{
   padding:          0px;
   margin:           0px;
}