/* Increase contrast */
.theme--light
.v-label
{
   color: rgba(0,0,0,0.9);
}
.theme--light
.v-label--is-disabled 
{
   color: rgba(0,0,0,0.38);
}
 
/* Reduce size */
.v-label, 
.v-input 
{
   font-size:        13px;
}

.v-input--selection-controls__input
{
   width:            22px;
   height:           22px;
   margin-right:     0px;
}
 
 /* reduce size for checkbox/radio */
.v-icon 
{
	font-size:        22px;
}

/* Hide line animation when entering/exiting input field */
.v-text-field > .v-input__control > .v-input__slot:before,
.v-text-field > .v-input__control > .v-input__slot:after
{
   transition:       none; 
}

/*
   Search actions
*/
.actionIcon
{
   /* set width/height wider than the image -> the focus rubberband looks much better */
   width:                  20px; 
   height:                 20px; 
   background-repeat:      no-repeat;
   background-position:    center;
}

.iconOptions {             background-image: url("/$MT-ICON$/options.png");}
.iconPhotoTooltip {        background-image: url("/$MT-ICON$/photo-tooltip.png");}
.iconSearch {              background-image: url("/$MT-ICON$/search.png");}
.iconTourChart {           background-image: url("/$MT-ICON$/tour-chart.png");}
.iconTourMarker {          background-image: url("/$MT-ICON$/tour-marker.png");}


/*
  App info tooltip
*/
.app-tooltip .v-toolbar__title 
{
   font-size:        16px;
}
.app-tooltip .popper 
{
   xwidth:             400px;
   border:            1px #BBB solid;
   border-radius:     0px;
   padding:           0px;
   background:        #fff;
   color:             #444;
   box-shadow:        0 0 0px rgba(0, 0, 0, 0.5);
   text-align:        left;
}

/* Hide popper arrow, have not found a better solution */
.app-tooltip .popper__arrow 
{
   display:          none;
}

.accent--text
{
   /* this is not working */
   xcolor:            #aaa  !important;
   xcaret-color:      #aaa  !important;
}

/* Ignore vuetify formatting */
.app-tooltip .v-subheader
{
   padding:          0px;
   padding-bottom:   10px;
   margin:           0px;
   height:           auto;
}

/* Ignore vuetify formatting */
.app-tooltip .v-input
{
   padding-top:      2px;
   padding-bottom:   2px;
   margin-top:       0px;
}

hr
{
   margin:           15px 0;
   border-top:       1px solid #ccc;
   border-bottom:    0px;
}