<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

     <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.tourbook.ext.srtm.PrefPageSRTMFilePath"
            id="net.tourbook.ext.srtm.PrefPageSRTMFilePath"
            name="%pref_page_srtm_files">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.tourbook.ext.srtm.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
