html 
{
	overflow-y: 			scroll;
}

body 
{
	font-size:				12px;
	color:					#fff;
	background-color:		#444;
	padding-left:			5px;
}

html, body 
{
	margin:					0px;
}

p,td,ul 
{
	line-height:			130%;
}

p 
{
	margin:					0px;
}

img 
{
	border: 				0;
}

table
{
	border-collapse:		collapse;
}


body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input 
{
	font-family: 			Segoe UI, helvetica, arial, sans-serif;
}


a:LINK,
a:VISITED 
{
	color:					#fff;
	text-decoration:		none;
}

a.action:LINK,
a.action:VISITED 
{
	cursor: 				pointer; 
	display:				block;
	width: 					20px; 
	height: 				20px; 

	text-decoration:		none;
	
	background-repeat:		no-repeat;
	background-position:	center;

	border:					1px solid transparent;
	border-radius:			3px;
}

a.action:HOVER 
{ 
	border: 				1px solid #fff;
	border-radius:			3px;
}

.title
{
	font-size:				30px;
	font-family:			NothingYouCouldDo, sans-serif;
	font-weight:			bold;
	padding-left:			5px;
}

.import-container
{
	position:				relative;
	height:					100vh;
}

.import-background
{
	position:				absolute;
	top: 					0;
	left: 					0;
	height: 				100%;
	width: 					100%;
	
	/* background is inline embedded */
}

.import-content
{
	/* VERY IMPORTANT: otherwise links, pointer, hovers and propably others do not work !!! */
	position:				absolute;
}


.auto-import-title
{
	padding-top: 			10px;
}

.get-tours-title
{
	
	padding-top: 			30px;
}

.get-tours-items
{
	padding-top: 			0px;
}

/*

 import-tile

*/
table.import-tiles
{
	/* disable expanding of the table to the right side */
	width:					10px;
}

td.import-tile
{
	xbackground-color: green;
}

a.import-tile
{
	position:				relative;
	z-index: 				10;

	background-color: 		#434343;
	xbackground-color: 		#777;
	
	display: 				block;
	margin:					5px;
	padding:				5px;
	bottom:					0px;
	min-height: 			7em;
	max-height: 			7em;
	min-width: 				7em;
	max-width: 				7em;
	
	cursor:					pointer;
	overflow:	 			hidden;

	border:					1px #555 solid;
	
	xbackground-color: 		yellow;
}

a.import-tile:HOVER
{
	z-index: 				0;
	border:					1px solid transparent;
	background:				#555;
}	

a.import-tile:HOVER .import-tile-name
{
	color:					#fff;
}

a.import-tile:FOCUS
{
	border:					1px solid transparent;
	
	background:				#666;
}

a.import-tile:FOCUS .import-tile-name
{
	color:			 		#fff;
}


.import-tile-image
{
	padding:				5px;
	text-align:				center;
	
	xbackground-color: 		#008;
}

.import-tile-name
{
	position:				absolute;
	bottom:					5px;
	text-align: 			center;
	width: 					100%;
	color:					#bbb;

	xbackground-color: 		green;
}

.import-tile-name-padding
{
	padding-right:			10px;
}
