
a.import-tile
{	
	box-shadow:				0;
	transition: 			box-shadow		.2s ease 0s;
}

a.import-tile:HOVER
{
	z-index:				10;

	box-shadow:				0 0 30px #888;
	
	/* overwrite none CSS3 value */
	background-color: 		#434343;
}	

a.import-tile:FOCUS
{
	border-top-color:		#47A3FF;
	border-bottom-color:	#47A3FF;
		
	background-color: 		#434343;
	background-image:		radial-gradient(
								circle 
								farthest-corner at 50% 120%, 
								#47A3FF 0%, 
								rgba(255, 255, 255, 0.0) 50%, 
								rgba(255, 255, 255, 0.0) 100%
							);
}

a.import-tile:HOVER:FOCUS
{
	box-shadow:				0 0 40px #47A3FF;
}