
html 
{
	overflow-y: 			scroll;
}

body 
{
	font-size:				12px;
	color:					#888;
	background-color:		#333;
	margin:					5px;
}

p,td,ul 
{
	line-height:			130%;
}

p 
{
	margin:					0px;
}

img 
{
	border: 				0;
}

table
{
	border-collapse:		collapse;
}


body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input 
{
	font-family: 			Segoe UI, helvetica, arial, sans-serif;
}

td.auto-import
{
	xborder:					1px solid;
	text-align:				center;
	xmax-width: 				10em;
	padding: 				10px;
}

div.auto-import
{
	background-color: 		#444;
	cursor:					pointer;
	min-height: 			7em;
	max-height: 			7em;
	min-width: 				7em;
	max-width: 				7em;
	
	position:				relative;
	overflow:	 			hidden;
}

div.auto-import:HOVER
{
	background-color: 		#888;
}

a.auto-import
{
	position:				absolute;
	bottom:					0px;
	display: 				inline-block;
	width:					100%;
	min-height: 			100%;
	max-height: 			100%;
	
	xbackground-color: 		yellow;
}

div.auto-import-image
{
	padding:				5px;
	
	xbackground-color: 		#008;
}

div.auto-import-name
{
	position:				absolute;
	bottom:					5px;
	text-align: 			center;
	width: 					100%;

	xbackground-color: 		green;
}

a:LINK,
a:VISITED 
{
	color:					#ddd;	
    text-decoration:		none;
}
