<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.tourbook.deviceDataReader">
      <device
            class="net.tourbook.device.garmin.GarminDeviceDataReader"
            fileextension="*"
            id="net.tourbook.device.GarminDeviceReader"
            name="%device.name.0"/>
   </extension>
   <extension
         point="net.tourbook.externalDeviceDataReader">
      <device
            class="net.tourbook.device.garmin.GarminExternalDevice"
            id="net.tourbook.device.GarminExternalDeviceReader"
            name="%device.name.1"
            type="serial">
      </device>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="net.tourbook.preferences.PrefPageDataImport"
            class="net.tourbook.device.garmin.PrefPageTCX"
            id="net.tourbook.device.garmin.prefPage"
            name="TCX">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.tourbook.device.garmin.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
