<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension  point="net.tourbook.map25Model">
   
      <map25Model
            
            id             ="net.tourbook.model.map25Model"
            xmlConfigFile  ="map-models/default-map-models.xml"
      />
      
   </extension>

</plugin>
