<?xml version="1.0" encoding="UTF-8" ?>
<mt
   version="1.0"
   created="$created"
   creator="$creator">
   <metadata>   
      <bounds 
         minlat="$nf8.format($min_latitude)"    minlon="$nf8.format($min_longitude)" 
         maxlat="$nf8.format($max_latitude)"    maxlon="$nf8.format($max_longitude)"
      />
   </metadata>
   <tour 
      tourId                                 ="$tourData.tourId" 
##
#if ($tourData.tourPerson)            
      personId                               ="$tourData.tourPerson.getPersonId()" 
#end
#if ($tourData.tourType)
      typeId                                 ="$tourData.tourType.getTypeId()" 
#end

      tourStartTime                          ="$tourData.getTourStartTime()" 
      timeZoneId                             ="$tourData.getTimeZoneId()" 
      tourComputedTime_Moving                ="$tourData.tourComputedTime_Moving" 
      tourDeviceTime_Elapsed                 ="$tourData.tourDeviceTime_Elapsed" 
      tourDeviceTime_Paused                  ="$tourData.tourDeviceTime_Paused" 
      tourDeviceTime_Recorded                ="$tourData.tourDeviceTime_Recorded" 

      avgAltitudeChange                      ="$tourData.avgAltitudeChange"
      avgCadence                             ="$tourData.avgCadence"
      avgPulse                               ="$tourData.avgPulse"
      battery_Percentage_End                 ="$tourData.battery_Percentage_End"
      battery_Percentage_Start               ="$tourData.battery_Percentage_Start"
      bodyFat                                ="$tourData.bodyFat"
      bodyWeight                             ="$tourData.bodyWeight"

      cadenceMultiplier                      ="$tourData.cadenceMultiplier"
      cadenceZone_FastTime                   ="$tourData.cadenceZone_FastTime"
      cadenceZone_SlowTime                   ="$tourData.getCadenceZone_SlowTime()"
      cadenceZones_DelimiterValue            ="$tourData.cadenceZones_DelimiterValue"

      calories                               ="$tourData.calories"
      conconiDeflection                      ="$tourData.conconiDeflection"

#if ($tourData.dateTimeCreated)
      dateTimeCreated                        ="$tourData.dateTimeCreated"
#end
#if ($tourData.dateTimeModified)
      dateTimeModified                       ="$tourData.dateTimeModified"
#end            
##
## Unused fieds
##    deviceAvgSpeed                         ="$tourData.deviceAvgSpeed"
##    deviceDistance                         ="$tourData.deviceDistance"
##    deviceMode                             ="$tourData.deviceMode"
##    deviceTotalDown                        ="$tourData.deviceTotalDown"
##    deviceTotalUp                          ="$tourData.deviceTotalUp"
##    deviceTourType                         ="$tourData.deviceTourType"
##    deviceTravelTime                       ="$tourData.deviceTravelTime"
##    deviceWeight                           ="$tourData.deviceWeight"
##    deviceWheel                            ="$tourData.deviceWheel"
##    distance                               ="$tourData.distance"

      devicePluginId                         ="$tourData.getDeviceId()"
      deviceFirmwareVersion                  ="$tourData.deviceFirmwareVersion"
#if ($tourData.deviceModeName)
      deviceModeName                         ="$tourData.deviceModeName"
#end
#if ($tourData.devicePluginName)
      devicePluginName                       ="$tourData.devicePluginName"
#end
      deviceTimeInterval                     ="$tourData.deviceTimeInterval"
      dpTolerance                            ="$tourData.dpTolerance"
      frontShiftCount                        ="$tourData.frontShiftCount"
      hasGeoData                             ="$tourData.hasGeoData()"

      hrZone0                                ="$tourData.getHrZone0()"
      hrZone1                                ="$tourData.getHrZone1()"
      hrZone2                                ="$tourData.getHrZone2()"
      hrZone3                                ="$tourData.getHrZone3()"
      hrZone4                                ="$tourData.getHrZone4()"
      hrZone5                                ="$tourData.getHrZone5()"
      hrZone6                                ="$tourData.getHrZone6()"
      hrZone7                                ="$tourData.getHrZone7()"
      hrZone8                                ="$tourData.getHrZone8()"
      hrZone9                                ="$tourData.getHrZone9()"

      isDistanceFromSensor                   ="$tourData.getIsDistanceFromSensor()"
      isPowerSensorPresent                   ="$tourData.getIsPowerSensorPresent()"
      isPulseSensorPresent                   ="$tourData.getIsPulseSensorPresent()"
      isStrideSensorPresent                  ="$tourData.getIsStrideSensorPresent()"
      isWeatherDataFromProvider              ="$tourData.isWeatherDataFromProvider()"

      maxAltitude                            ="$tourData.maxAltitude"
      maxPace                                ="$tourData.maxPace"
      maxPulse                               ="$tourData.maxPulse"
      maxSpeed                               ="$tourData.maxSpeed"

#if($tourData.getMergeSourceTourId())          
      mergeSourceTourId                      ="$tourData.getMergeSourceTourId()"
#end
#if($tourData.getMergeTargetTourId())
      mergeTargetTourId                      ="$tourData.getMergeTargetTourId()"
#end
      mergedAltitudeOffset                   ="$tourData.mergedAltitudeOffset"
      mergedTourTimeOffset                   ="$tourData.mergedTourTimeOffset"

      numberOfHrZones                        ="$tourData.numberOfHrZones"
      numberOfPhotos                         ="$tourData.getNumberOfPhotos()"
      numberOfTimeSlices                     ="$tourData.numberOfTimeSlices"
      
      photoTimeAdjustment                    ="$tourData.photoTimeAdjustment"

      power_Avg                              ="$tourData.power_Avg"
      power_AvgLeftPedalSmoothness           ="$tourData.power_AvgLeftPedalSmoothness"
      power_AvgLeftTorqueEffectiveness       ="$tourData.power_AvgLeftTorqueEffectiveness"
      power_AvgRightPedalSmoothness          ="$tourData.power_AvgRightPedalSmoothness"
      power_AvgRightTorqueEffectiveness      ="$tourData.power_AvgRightTorqueEffectiveness"

#if($tourData.getPower_DataSource())
      power_DataSource                       ="$tourData.getPower_DataSource()"
#end
      power_FTP                              ="$tourData.power_FTP"
      power_IntensityFactor                  ="$tourData.power_IntensityFactor"
      power_Max                              ="$tourData.power_Max"
      power_Normalized                       ="$tourData.power_Normalized"
      power_PedalLeftRightBalance            ="$tourData.power_PedalLeftRightBalance"
      power_TotalWork                        ="$tourData.power_TotalWork"
      power_TrainingStressScore              ="$tourData.power_TrainingStressScore"

      rearShiftCount                         ="$tourData.rearShiftCount"
      restPulse                              ="$tourData.restPulse"

      runDyn_StanceTimeBalance_Avg           ="$tourData.runDyn_StanceTimeBalance_Avg"
      runDyn_StanceTimeBalance_Max           ="$tourData.runDyn_StanceTimeBalance_Max"
      runDyn_StanceTimeBalance_Min           ="$tourData.runDyn_StanceTimeBalance_Min"
      runDyn_StanceTime_Avg                  ="$tourData.runDyn_StanceTime_Avg"
      runDyn_StanceTime_Max                  ="$tourData.runDyn_StanceTime_Max"
      runDyn_StanceTime_Min                  ="$tourData.runDyn_StanceTime_Min"
      runDyn_StepLength_Avg                  ="$tourData.runDyn_StepLength_Avg"
      runDyn_StepLength_Max                  ="$tourData.runDyn_StepLength_Max"
      runDyn_StepLength_Min                  ="$tourData.runDyn_StepLength_Min"
      runDyn_VerticalOscillation_Avg         ="$tourData.runDyn_VerticalOscillation_Avg"
      runDyn_VerticalOscillation_Max         ="$tourData.runDyn_VerticalOscillation_Max"
      runDyn_VerticalOscillation_Min         ="$tourData.runDyn_VerticalOscillation_Min"
      runDyn_VerticalRatio_Avg               ="$tourData.runDyn_VerticalRatio_Avg"
      runDyn_VerticalRatio_Max               ="$tourData.runDyn_VerticalRatio_Max"
      runDyn_VerticalRatio_Min               ="$tourData.runDyn_VerticalRatio_Min"
      
      startAltitude                          ="$tourData.startAltitude" 
      startDistance                          ="$tourData.startDistance" 
      startPulse                             ="$tourData.startPulse" 
      
      surfing_IsMinDistance                  ="$tourData.surfing_IsMinDistance" 
      surfing_MinDistance                    ="$tourData.surfing_MinDistance" 
      surfing_MinSpeed_StartStop             ="$tourData.surfing_MinSpeed_StartStop" 
      surfing_MinSpeed_Surfing               ="$tourData.surfing_MinSpeed_Surfing" 
      surfing_MinTimeDuration                ="$tourData.surfing_MinTimeDuration" 
      surfing_NumberOfEvents                 ="$tourData.surfing_NumberOfEvents" 

      temperatureScale                       ="$tourData.getTemperatureScale()" 
      
      tourAltDown                            ="$tourData.tourAltDown" 
      tourAltUp                              ="$tourData.tourAltUp" 
      tourDistance                           ="$tourData.tourDistance" 

      training_TrainingEffect_Aerob          ="$tourData.training_TrainingEffect_Aerob" 
      training_TrainingEffect_Anaerob        ="$tourData.training_TrainingEffect_Anaerob" 
      training_TrainingPerformance           ="$tourData.training_TrainingPerformance" 

      weather_Humidity                       ="$tourData.weather_Humidity"
      weather_Precipitation                  ="$tourData.weather_Precipitation"
      weather_Pressure                       ="$tourData.weather_Pressure"
      weather_Snowfall                       ="$tourData.weather_Snowfall"
      weather_Temperature_Average            ="$tourData.weather_Temperature_Average"
      weather_Temperature_Average_Device     ="$tourData.weather_Temperature_Average_Device"
      weather_Temperature_Max                ="$tourData.weather_Temperature_Max"
      weather_Temperature_Max_Device         ="$tourData.weather_Temperature_Max_Device"
      weather_Temperature_Min                ="$tourData.weather_Temperature_Min"
      weather_Temperature_Min_Device         ="$tourData.weather_Temperature_Min_Device"
      weather_Temperature_WindChill          ="$tourData.weather_Temperature_WindChill"
      weather_Wind_Direction                 ="$tourData.weather_Wind_Direction"
      weather_Wind_Speed                     ="$tourData.weather_Wind_Speed"
   >
      <tourDescription><![CDATA[$!tourData.tourDescription]]></tourDescription>
      <tourTitle><![CDATA[$!tourData.tourTitle]]></tourTitle>
      <tourStartPlace><![CDATA[$!tourData.tourStartPlace]]></tourStartPlace>
      <tourEndPlace><![CDATA[$!tourData.tourEndPlace]]></tourEndPlace>
      <weather><![CDATA[$!tourData.weather]]></weather>
      <weather_Clouds><![CDATA[$!tourData.weather_Clouds]]></weather_Clouds>
##
#if ($tourData.getImportFileName())
      <importFileName><![CDATA[$!tourData.getImportFileName()]]></importFileName>
#end            
#if ($tourData.getImportFilePath())
      <importFilePath><![CDATA[$!tourData.getImportFilePath()]]></importFilePath>
#end  
##
   </tour>          
##
##
## TYPE   TYPE   TYPE   TYPE   TYPE   TYPE   TYPE   TYPE   TYPE   TYPE   TYPE   TYPE   TYPE   TYPE   TYPE   
##
##
#set ($tourType = $tourData.getTourType())
#if($tourType)
   <tourType>
      <name><![CDATA[$!tourType.getName()]]></name>
   </tourType>
#end
##
##
## TOURMARKER   TOURMARKER   TOURMARKER   TOURMARKER   TOURMARKER   TOURMARKER   TOURMARKER   TOURMARKER   
##
##
#if($tourData.getTourMarkers().size() > 0)
   <markers>
#set ($allMarkers = $tourData.getTourMarkersSorted())
#foreach ($marker in $allMarkers)         
      <marker
         markerId          ="$marker.markerId"
         altitude          ="$marker.altitude"
         distance20        ="$marker.getDistance()"
         latitude          ="$marker.latitude"
         longitude         ="$marker.longitude"
         labelXOffset      ="$marker.labelXOffset"
         labelYOffset      ="$marker.labelYOffset"
         serieIndex        ="$marker.serieIndex"
         time              ="$marker.time"
         tourTime          ="$marker.tourTime"
         type              ="$marker.type"
         visualPosition    ="$marker.getLabelPosition()"
         isMarkerVisible   ="$marker.getIsMarkerVisible()"
      >
         <label><![CDATA[$!marker.label]]></label>
         <description><![CDATA[$!marker.description]]></description>
         <urlAddress><![CDATA[$!marker.urlAddress]]></urlAddress>
         <urlText><![CDATA[$!marker.urlText]]></urlText>
      </marker>
#end
   </markers>
#end
##
##
## WAYPOINTS   WAYPOINTS   WAYPOINTS   WAYPOINTS   WAYPOINTS   WAYPOINTS   WAYPOINTS   WAYPOINTS   WAYPOINTS   
##
##
#if($tourData.getTourWayPoints().size() > 0)
   <waypoints>
#set ($allWayPoints = $tourData.getTourWayPoints())
#foreach ($wayPoint in $allWayPoints)         
      <waypoint
         wayPointId     ="$wayPoint.wayPointId"
         time           ="$wayPoint.time"
         altitude       ="$wayPoint.altitude"
         longitude      ="$wayPoint.longitude"
         latitude       ="$wayPoint.latitude"
      >
         <name><![CDATA[$!wayPoint.name]]></name>
         <description><![CDATA[$!wayPoint.description]]></description>
         <comment><![CDATA[$!wayPoint.comment]]></comment>
         <symbol><![CDATA[$!wayPoint.symbol]]></symbol>
         <category><![CDATA[$!wayPoint.category]]></category>
         <urlAddress><![CDATA[$!wayPoint.urlAddress]]></urlAddress>
         <urlText><![CDATA[$!wayPoint.urlText]]></urlText>
      </waypoint>
#end
   </waypoints>
#end
##
##
## TAGS   TAGS   TAGS   TAGS   TAGS   TAGS   TAGS   TAGS   TAGS   TAGS   TAGS   TAGS   TAGS   TAGS   TAGS   
##
##
#if($tourData.getTourTags().size() > 0)
   <tags>
#set ($tags = $tourData.getTourTags())
#foreach ($tag in $tags)         
      <tag>
         <name><![CDATA[$!tag.getTagName()]]></name>
      </tag>
#end
   </tags>
#end
##
##
## PHOTOS   PHOTOS   PHOTOS   PHOTOS   PHOTOS   PHOTOS   PHOTOS   PHOTOS   PHOTOS   PHOTOS   PHOTOS   PHOTOS   
##
##
#if ($tourData.getTourPhotos().size() > 0)
#set ($photos = $tourData.getTourPhotos())
   <photos>
#foreach ($photo in $photos)
      <photo
         photoId                 ="$photo.getPhotoId()"
         imageExifTime           ="$photo.getImageExifTime()"
         imageFileLastModified   ="$photo.getImageFileLastModified()"
         adjustedTime            ="$photo.getAdjustedTime()"
         isGeoFromPhoto          ="$photo.getIsGeoFromPhoto()"
         ratingStars             ="$photo.getRatingStars()"
         latitude                ="$photo.getLatitude()"
         longitude               ="$photo.getLongitude()"
      >
         <imageFilePathName><![CDATA[$!photo.getImageFilePathName()]]></imageFilePathName>
      </photo>
#end            
   </photos>
#end
##
##
## SENSOR   SENSOR   SENSOR   SENSOR   SENSOR   SENSOR   SENSOR   SENSOR   SENSOR   SENSOR   SENSOR   SENSOR   
##
##
#if ($tourData.getDeviceSensorValues().size() > 0)
#set ($allSensors = $tourData.getDeviceSensorValues())
   <sensorValues>
#foreach ($sensor in $allSensors)
      <sensorValue
         sensorValueId           ="$sensor.getSensorValueId()"
         sensorId                ="$sensor.getDeviceSensor().getSensorId()"
         tourStartTime           ="$sensor.getTourStartTime()"
         tourEndTime             ="$sensor.getTourEndTime()"
         batteryLevel_Start      ="$sensor.getBatteryLevel_Start()"
         batteryLevel_End        ="$sensor.getBatteryLevel_End()"
         batteryStatus_Start     ="$sensor.getBatteryStatus_Start()"
         batteryStatus_End       ="$sensor.getBatteryStatus_End()"
         batteryVoltage_Start    ="$sensor.getBatteryVoltage_Start()"
         batteryVoltage_End      ="$sensor.getBatteryVoltage_End()"
      />
#end            
   </sensorValues>
#end
##
##
## TRACKS   TRACKS   TRACKS   TRACKS   TRACKS   TRACKS   TRACKS   TRACKS   TRACKS   TRACKS   TRACKS   TRACKS   
##
##
</mt>
