<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.tourbook.category.tourMaps"
            name="%view_category_tour_map">
      </category>
      <view
            category="net.tourbook.category.tourMaps"
            class="net.tourbook.mapping.OSMView"
            icon="icons/earth-globe-abstract.png"
            id="net.tourbook.mapping.OSMViewID"
            name="%command_tour_map_name" >
      </view>
      <view
            category="net.tourbook.category.tourMaps"
            class="net.tourbook.mapping.TourMapPropertyView"
            icon="icons/tour-map-properties.gif"
            id="net.tourbook.mapping.TourMapPropertyView"
            name="%command_view_tour_properties_name">
      </view>
   </extension>
   <extension
         point="de.byteholder.geoclipse.mapOverlay">
      <painter class="net.tourbook.mapping.TourPainter"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:net.tourbook.toolbars.tourViews?after=additions">
         <command
               commandId="net.tourbook.mapping.command.tourMap"
               icon="icons/earth-globe-abstract.png"
               label="%command_tour_map_name"
               tooltip="%command_tour_map_name_tooltip">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:views?before=defaultViews">
         <command
               commandId="net.tourbook.mapping.command.tourMap"
               icon="icons/earth-globe-abstract.png"
               label="%command_tour_map_name"
               tooltip="%command_tour_map_name_tooltip">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.tourbook.mapping.ActionHandlerOpenTourMapView"
            id="net.tourbook.mapping.command.tourMap"
            name="%command_tour_map_name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.tourbook.mapping.PrefPageCache"
            id="net.tourbook.mapping.PrefPageCache"
            name="%pref_page_cache">
      </page>
   </extension>


</plugin>
