<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="3.6.0 Target">
<locations>
<location path="L:\e-3.6\target-plugins\eclipse-3.6-delta-pack\eclipse" type="Directory"/>
<location path="L:\e-3.6\target-plugins\BabelLanguagePack-eclipse_3.6.0\eclipse" type="Directory"/>
<location path="L:\e-3.6\eclipse" type="Profile"/>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86</arch>
<nl>en</nl>
</environment>
<launcherArgs>
<vmArgs>-Xms40m -Xmx256m</vmArgs>
</launcherArgs>
</target>
