<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension   point="net.tourbook.deviceDataReader">

      <device
         id             ="net.tourbook.device.FitDataReader"
         name           ="Fit Import"
         class          ="net.tourbook.device.garmin.fit.FitDataReader"
         fileextension  ="fit"
      />

      <device
         id             ="net.tourbook.device.FitDataReader2"
         name           ="Fit Import"
         class          ="net.tourbook.device.garmin.fit.FitDataReader2"
         fileextension  ="tif2"
      />

   </extension>

   <extension   point="org.eclipse.ui.preferencePages">

      <page
         category    ="net.tourbook.preferences.PrefPageImport"
         class       ="net.tourbook.device.garmin.fit.PrefPageImportFit"
         id          ="net.tourbook.device.PrefPageFit"
         name        ="Fit"
      />

   </extension>

   <extension   point="org.eclipse.core.runtime.preferences">
   
      <initializer
         class="net.tourbook.device.garmin.fit.PreferenceInitializer"
      />

   </extension>

</plugin>
