/* This content is compressed into "mt-dojo.css.jgz" */

@import url(../../dojo/resources/dojo.css);
@import url(../../dijit/themes/tundra/tundra.css);
@import url(../../dgrid/css/dgrid.css);
@import url(../../dgrid/css/skins/tundra.css);


.iconOptions         {  background-image: url("/$MT-ICON$/options$CSS_TAG__IS_THEMED$.png");    }
.iconPhotoTooltip    {  background-image: url("/$MT-ICON$/photo-tooltip.png");                  }
.iconSearch          {  background-image: url("/$MT-ICON$/search$CSS_TAG__IS_THEMED$.png");     }
.iconTourChart       {  background-image: url("/$MT-ICON$/tour-chart.png");                     }
.iconTourMarker      {  background-image: url("/$MT-ICON$/tour-marker.png");                    }

