
body
{
   /* Hide theme background images */
   background:             none     !important;
   
   color:                  #$BODY__COLOR$             !important;
   background-color:       #$BODY__BACKGROUND_COLOR$  !important;
   
   $BODY__SCROLLBAR$
}

table
{
   border-collapse:        collapse;

   /* show border to debug tables */
   xborder:                1px solid; 
}

a
{
   text-decoration:        none;
   color:                  #$A__COLOR$;
}

/*
   Vertical spacing between fields.
*/
.fieldVertSpaceTop
{
   margin-top:             0.5em;   
}

.fieldVertSpaceBottom
{
   margin-bottom:          0.5em;   
}

.disableLabel 
{
    pointer-events:        none;
    opacity:               0.3;
}

.mtBase 
{
   font-family:            verdana, helvetica, arial, sans-serif;
   font-size:              13px;   
   line-height:            130%;
}

.mtBase .dijitMenu,
.mtBase .dijitMenuBar,
.mtBase .dijitTooltipContainer,
.mtDialog .dijitDialog
{
   border:                 1px solid #bbb;         /* replace blue border */
}

.dijitButtonNode
{
   background:             none              !important;
}

.dijitDialog .dijitButtonNode
{
   border:                 1px solid gray    !important;
}

.dijitButtonHover .dijitButtonNode 
{
   color:                  #$DIJIT_BUTTON_HOVER__COLOR$                 !important;
   background-color:       #$DIJIT_BUTTON_HOVER__BACKGROUND_COLOR$      !important;
}

/*
   Overwrite dijit dialog
*/
.mtDialog .dijitDialog
{
   line-height:            80%;
   color:                  #$BODY__COLOR$;
}

.dijitDialogPaneContent,
.dijitTitlePaneContentOuter,
.dijitTitlePaneTitle
{
   background-color:       #$BODY__BACKGROUND_COLOR$ !important;
}

.dijitDialogPaneContent 
{
   border-top:             0px   !important;
}

.dijitDialogTitleBar
{
   background:             #$BODY__BACKGROUND_COLOR$ !important;
}

.dijitDialogCloseIcon, 
.dijitDialogCloseIconHover 
{
   width:                  16px              !important;
   height:                 16px              !important;
   border:                 0px;
   background:             url("/§MT-ICON-COMMON§/app-close$CSS_TAG__IS_THEMED$.png")     !important;
}

.dijitDialogCloseIconHover 
{
   border:                 1px solid #c1c1c1;
}

.dijitTitlePaneTitle
{
   margin-left:            0px !important;
}

.mtDialog .dijitTitlePaneTitle                              /* this is a group of widgets */
{
   background-image:       none;                            /* hide gray */
   border:                 0px !important;                  /* overwrite (hide) border */      
   border-bottom:          1px solid #bfbfbf !important;    /* set border only at the bottom */
   padding-left:           0;
   margin-left:            -5px;
}

/* Background color for the search view when the search dialog is opened */
.dijitDialogUnderlay 
{
   background:             #888              !important;
   opacity:                0.2               !important;
}

.dijitTooltipContainer
{
   color:                  #$BODY__COLOR$             !important;
   background:             #$BODY__BACKGROUND_COLOR$  !important;
}

.dijitMenu 
{
   border:                 1px solid black;
   background-color:       #$BODY__BACKGROUND_COLOR$ !important;
}

/*
   Dijit Button
   
   Overwrite dojo css by setting the custom class after the dojo class in the <body> tag.
*/
.searchBar .dijitButton
{
   margin:                 0;   
}

.searchBar .dijitButton .dijitButtonNode {
    
   font-size:              1.2em;
                           
   border-radius:          0;
   border:                 1px solid transparent;
                           
   background-color:       transparent;
   background-image:       none;
                           
   box-shadow:             none;
}

/*
   Overwrite dijit for the search text field.
*/
.searchBar .dijitTextBox
{
   color:                  #$BODY__COLOR$;
   
   background-image:       none;               /* hide gradient */
   border-color:           #$BODY__BACKGROUND_COLOR$;
   background-color:       #$BODY__BACKGROUND_COLOR$;
}

.searchBar .dijitTextBoxFocused
{
   border-color:           #ddd;   
}

.searchBar .dijitTextBoxHover
{
   background-image:       none;                /* hide default gradient image */                  
   border-width:           1px;   
   border-color:           #bbb;
}

.searchBar .dijitInputField 
{
   padding:                2px;
}

/*
   Tooltip
*/
.tooltip-container
{
   width:                  30em;                /* set max width for a tooltip */ 
}


/*
   Search container
*/
#domContainer 
{
   height:                 100%;
}


/*
   Search field
*/
#domSearchInputContainer
{
   padding:                0px;   
   background-color:       #$DOM_SEARCH_INPUT_CONTAINER$;
   overflow:               hidden;
}

.domSearchInput
{
   width:                  100%;
}

/*
   Status fields
*/
#domAppStatus
{
   color:                  #$DOM_APP_STATUS$;
   text-align:             right;
   white-space:            nowrap;
}

#domSearchStatus
{
   color:                  red;
   white-space:            normal;      /* disable nowrap */
}

/*
   Grid
*/
#domGrid 
{
   position:               absolute;
   top:                    0;
   bottom:                 0;
   left:                   0;
   right:                  0;
   height:                 auto;
                           
   border:                 0px;
}

   
#domGrid div:focus 
{ 
   outline-width:          1px;      /* 1px is default */
}

#domGrid .dgrid-content
{
   color:                  #$DRGID_CONTENT__COLOR$;
   background-color:       #$DRGID_CONTENT__BACKGROUND_COLOR$;
}

#domGrid .dgrid-row:HOVER
{
   background-color:       #$DRGID_ROW__BACKGROUND_COLOR$;
}

#domGrid .dgrid-selected
{
   background-color:       #$DRGID_SELECTED__BACKGROUND_COLOR$;
}

#domGrid .dgrid-selected:HOVER
{
   background-color:       #$DRGID_SELECTED_HOVER__BACKGROUND_COLOR$;
}


.dgrid-no-data,
.dgrid-loading 
{
   color:                  #aaa;
   font-size:              1em;
   padding:                0.5em;
   line-height:            normal;      /* mtBase line-height looks ugly when text is wrapped*/
}

/*
   Item container
*/

.item-container 
{
   clear:                  both;      /* start new item */
   padding:                2px 0 2px 0;
   xmargin-bottom:         1px;
}

/* show hidden actions when search item is hovered */
.item-container:HOVER .action-container
{                                    
   opacity:                1.0;
   filter:                 alpha(opacity=100);    /* IE needs this even in html standard mode*/
}

.item-container .action-container a:HOVER 
{ 
   border:                 1px solid #aaa;
}

/*
   Actions
*/
.action-container 
{
   opacity:                0;
   filter:                 alpha(opacity=0);
                           
   position:               absolute;
   right:                  2px;               
   z-index:                10;
   xpadding:               0 1px 0px 0px;
}

a.action:LINK,
a.action:VISITED 
{
   display:                block;
   width:                  20px; 
   height:                 20px; 
                           
   text-decoration:        none;
                           
   background-repeat:      no-repeat;
   background-position:    center;
                           
   border:                 1px solid rgba(0, 0, 0, 0.0);   /* hide border with transparent color */
                           
   cursor:                 pointer; 
}

/*
   Result state
*/
.result-state
{
   padding-top:            20px;
}

/*
   Item
*/
.item-image 
{
   vertical-align:         top;
   padding-left:           5px;
   padding-right:          10px;
}

a.item:LINK,
a.item:VISITED 
{
   /* enforce width to the right border */
   display:                block;
   width:                  auto;               
                           
   text-decoration:        none;
}

.item-title
{
   text-decoration:        underline;
}

.item-title-no-description
{
   /* Hide underline when only the title is available but not a description */
   text-decoration:        none;
}

.item-info
{
   font-size:              80%;
   color:                  #888;
}

.item-info td
{
   padding-right:          20px;
}

.item-location td
{
   padding-right:          5px;
}


/*
   Search actions
*/
.actionIcon
{
   /* set width/height wider than the image -> the focus rubberband looks much better */
   width:                  20px; 
   height:                 20px; 
   background-repeat:      no-repeat;
   background-position:    center;
}
