<?xml version="1.0" encoding="UTF-8" standalone="no" ?> $dateformatter.applyPattern("yyyy-MM-dd'T'HH:mm:ss'Z'") $double6formatter.applyPattern("0.000000") $intformatter.applyPattern("0") $double2formatter.applyPattern("0.00")
<TrainingCenterDatabase
	xmlns="http://www.garmin.com/xmlschemas/TrainingCenterDatabase/v2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.garmin.com/xmlschemas/TrainingCenterDatabase/v2 http://www.garmin.com/xmlschemas/TrainingCenterDatabasev2.xsd">
	<Activities>
		<Activity Sport="Biking">
			<Id>$dateformatter.format($starttime)</Id>
			<Lap StartTime="$dateformatter.format($starttime)">
				<TotalTimeSeconds>$double2formatter.format($totaltime)</TotalTimeSeconds>
				<DistanceMeters>$double6formatter.format($totaldistance)</DistanceMeters>
				<Calories>0</Calories>
#if($averageheartrate)
				<AverageHeartRateBpm>
					<Value>$averageheartrate</Value>
				</AverageHeartRateBpm>
#end
#if($maximumheartrate)
				<MaximumHeartRateBpm>
					<Value>$maximumheartrate</Value>
				</MaximumHeartRateBpm>
#end
				<Intensity>Active</Intensity>
#if($averagecadence)		
				<Cadence>$averagecadence</Cadence>
#end
				<TriggerMethod>Manual</TriggerMethod>
#foreach( $track in $tracks )				
				<Track>
#set ($points = $track.getWaypoints())
#foreach ($point in $points)
					<Trackpoint>
#if($point.getDate())
                        <Time>$dateformatter.format($point.getDate())</Time>
#end
						<Position>
							<LatitudeDegrees>$double6formatter.format($point.Latitude)</LatitudeDegrees>
							<LongitudeDegrees>$double6formatter.format($point.Longitude)</LongitudeDegrees>
						</Position>
#if($point.hasValidAltitude())
						<AltitudeMeters>$intformatter.format($point.Altitude)</AltitudeMeters>
#end
#if($point.hasValidDistance())
						<DistanceMeters>$double6formatter.format($point.Distance)</DistanceMeters>
#end
#if($point.hasValidHeartrate())
						<HeartRateBpm xsi:type="HeartRateInBeatsPerMinute_t"><Value>$point.Heartrate</Value></HeartRateBpm>
#end
#if($point.hasValidCadence())
						<Cadence type="CadenceValue_t">$point.Cadence</Cadence>
#end
					</Trackpoint>
#end
				</Track>
#end
			</Lap>
            <Creator xsi:type="Device_t">
              <Name>$creator</Name>
              <UnitId></UnitId>
              <ProductID></ProductID>
              <Version>
                <VersionMajor>$pluginMajorVersion</VersionMajor>
                <VersionMinor>$pluginMinorVersion</VersionMinor>
                <BuildMajor>$pluginMicroVersion</BuildMajor>
                <BuildMinor>$pluginQualifierVersion</BuildMinor>
              </Version>
            </Creator>
		</Activity>
	</Activities>
	<Author xsi:type="Application_t">
		<Name>$creator</Name>
		<Build>
			<Version>
				<VersionMajor>$pluginMajorVersion</VersionMajor>
				<VersionMinor>$pluginMinorVersion</VersionMinor>
				<BuildMajor>$pluginMicroVersion</BuildMajor>
				<BuildMinor>$pluginQualifierVersion</BuildMinor>
			</Version>
			<Type>Release</Type>
		</Build>
		<LangID>EN</LangID>
        <PartNumber>2009-05-23_17-26-51_ID</PartNumber>
	</Author>
</TrainingCenterDatabase>
