offline-map
derby-database/lucene-index
derby-database/*.log
.metadata/*.log
.metadata/.plugins/org.eclipse.core.resources/*
.metadata/.plugins/net.tourbook.common/invalidfiles_to_ignore.txt
.metadata/.plugins/org.eclipse.jdt.ui/*
.metadata/.plugins/net.tourbook/srtmprofiles.xml
.metadata/.plugins/net.tourbook/map-bookmarks.xml
.metadata/.plugins/net.tourbook.photo/*
.metadata/.plugins/net.tourbook.web/*
.metadata/.plugins/org.eclipse.egit.core/*
.metadata/.plugins/org.eclipse.oomph.setup/*
.metadata/.plugins/org.eclipse.oomph.setup.ui/*
.metadata/.plugins/org.eclipse.ui.workbench/*
.metadata/.plugins/org.eclipse.pde.core/*
.metadata/.plugins/org.eclipse.core.runtime/.settings/org*
.metadata/.plugins/org.eclipse.core.runtime/.settings/net.sourceforge.vrapper.eclipse.prefs
.metadata/.plugins/org.eclipse.e4.ui.workbench.swt/*
