offline-map
derby-database/lucene-index
derby-database/*.log
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/*
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/net.tourbook.common/invalidfiles_to_ignore.txt
.metadata/.plugins/org.eclipse.jdt.ui/*
.metadata/.plugins/net.tourbook/calendar-profiles.xml
.metadata/.plugins/net.tourbook.web/*
