<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.tourbook.deviceDataReader">
               <device
            class="net.tourbook.device.hac4pro.HAC4ProDeviceDataReader"
            fileextension="dat"
            id="net.tourbook.device.HAC4ProDeviceReader"
            name="HAC4Pro"/>
   </extension>
   <extension
         point="net.tourbook.externalDeviceDataReader">
      <device
            class="net.tourbook.device.hac4pro.HAC4ProExternalDevice"
            id="net.tourbook.device.HAC4ProExternalDeviceReader"
            name="HAC4Pro"
            type="serial">
      </device>
   </extension>

</plugin>
